<div class="mb-4">
  <% @order.order_items.each do |item| %>
    <% if item.paid? && item.unshipped? %>
      <div class="form-group">
        <%= check_box_tag "order[order_item_ids][]", item.id, false %>
        <%= item.variant.product_name %>
      </div>
    <% else %>
      <%= item.variant.product_name %><br/>
    <% end %>
  <% end %>
</div>

<div class="form-group">
  <%= f.submit 'Ship checked items.', class: "btn btn-primary" %>
</div>
