<% if @shipping_category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shipping_category.errors.count, "error") %> prohibited this Shipping Category from being saved:</h2>
    <ul>
      <% @shipping_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.input :name %>

<div class="actions">
  <%= f.submit %>
</div>
