.admin_title_header
  %h3 Shipping Categories
  = link_to 'New Shipping Category', new_admin_config_shipping_category_path, :class => 'button'
.admin_shipping_categories
  %table
    %thead
      %tr.odd
        %th.column1_header Name
        %th
    - @shipping_categories.each do |shipping_category|
      %tr{:class => cycle("odd", "")}
        %td= shipping_category.name
        %td= link_to 'Edit', edit_admin_config_shipping_category_path(shipping_category)
