<div class="admin_title_header">
  <h3>Shipping Categories</h3>
  <%= link_to 'New Shipping Category', new_admin_config_shipping_category_path, class: 'button' %>
</div>

<div class="admin_shipping_categories">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
      <th></th>
    </tr>
    </thead>

  <% @shipping_categories.each do |shipping_category| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= shipping_category.name %></td>
      <td><%= link_to 'Edit', edit_admin_config_shipping_category_path(shipping_category) %></td>
    </tr>
  <% end %>
  </table>
</div>
