<div class="page-header">
  <h1 class="page-title">New Shipping Category</h1>
  <div class="page-actions">
    <%= link_to 'Back', admin_config_shipping_categories_path, class: 'btn btn-outline' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for(@shipping_category, url: admin_config_shipping_categories_path) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <p>
      An example Shipping Category could be "Clothing".  Use shipping category to group products that can be shipped with the same shipping method.  For Example:
    </p>
    <ul>
      <li>Product "A" can be shipped UPS next day and UPS ground.</li>
      <li>Product "B" can be shipped UPS next day and UPS ground.</li>
      <li>Product "C" can only be shipped UPS ground.</li>
    </ul>
    <p class="mb-0">
      You will assign Product A & B to the same shipping category.  But Product C would need a different shipping Category.
    </p>
  </div>
</div>
