<h2>New Shipping Category</h2>

<%= form_for(@shipping_category, :url => admin_config_shipping_categories_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit t("button_create"), :class => "button" %>
  <%= link_to t("button_back"), admin_config_shipping_categories_path, :class => 'secondary button' %>
<% end %>

<div class="panel">
  <p><span class="round label">Example:</span></p>
  An example Shipping Category could be "Clothing".  Use shipping category to group products that can be shipped with the same shipping method.  For Example:
  <ul>
    <li>Product "A" can be shipped UPS next day and UPS ground.</li>
    <li>Product "B" can be shipped UPS next day and UPS ground.</li>
    <li>Product "C" can only be shipped UPS ground.</li>
  </ul>
  <br/>
  You will assign Product A & B to the same shipping category.  But Product C would need a different shipping Category.
</div>
