<p id="notice"><%= notice %></p>

<%= @shipping_category.name %><br/>

<%= link_to 'Edit', edit_admin_merchandise_shipping_category_path(@admin_merchandise_shipping_category) %> |
<%= link_to 'Back', admin_merchandise_shipping_categories_path %>
