<p id="notice"><%= notice %></p>

<%= @shipping_category.name %><br/>

<%= link_to 'Edit', edit_admin_config_shipping_category_path(@shipping_category), class: 'button' %>
<%= link_to 'Back', admin_config_shipping_categories_path, class: 'button' %>
