<div class="page-header">
  <h1 class="page-title">Make a Comment on Order (<%= order.number %>)</h1>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for(@comment, url: admin_fulfillment_order_comments_path(order, @comment)) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>

<div class="mt-4">
  <%= link_to 'Back to List', admin_fulfillment_order_comments_path(order), class: "btn btn-outline" %>
</div>
