<div class="page-header">
  <h1 class="page-title">Comment</h1>
</div>

<div class="card">
  <div class="card-body">
    <p>
      <strong>Note:</strong>
      <%= @comment.note %>
    </p>

    <div class="flex gap-2 mt-4">
      <%= link_to "Edit", edit_admin_fulfillment_order_comment_path(order, @comment), class: "btn btn-outline" %>
      <%= link_to "Destroy", admin_fulfillment_order_comment_path(order, @comment), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-danger" %>
      <%= link_to "View All", admin_fulfillment_order_comments_path(order), class: "btn btn-outline" %>
    </div>
  </div>
</div>
