.DS_Store
nbproject/*
nbproject
.vimrc
.rvmrc
.vim
.sass-cache/
/.bundle

log
log/*.log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*

solr
solr/*

.project
*.swp
public/assets/**/*
public/assets/*
coverage/*
Gemfile.lock
config/config.yml
config/database.yml
db/*.db
/db/*.sqlite3

doc/api
doc/app
doc/plugins
doc/*.dot
