.DS_Store
nbproject/*
.vimrc
.rvmrc
.vim
.sass-cache/

log
log/*.log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*

solr
solr/*

.project
nbproject
.DS_Store
*.swp
public/assets/**/*
public/assets/*
.rvmrc
config/config.yml
solr/data
coverage/*
Gemfile.lock
config/database.yml
db/*.db
