.DS_Store
nbproject/*
.vimrc
.rvmrc
.vim
.sass-cache/
.bundle

log
log/*.log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*

solr
solr/*

.project
nbproject
*.swp
public/assets/**/*
public/assets/*
config/config.yml
solr/data
coverage/*
Gemfile.lock
config/database.yml
db/*.db
