<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Ror ecommerce by drhenner</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ror ecommerce</h1>
        <p>Complete Ruby on Rails Ecommerce platform</p>


<p class="view"><a href="http://drhenner.github.com/ror_ecommerce/index.html">Getting Started</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/config.html">Config</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/the_cart.html">The Cart</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/addresses.html">Addresses</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/coupons.html">Coupons</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/deals.html">Deals</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/fulfillment.html">Fulfillment</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/orders.html">Orders</a></p>
        <p class="view"><a href="http://drhenner.github.com/ror_ecommerce/product_creation.html">Product Creation</a></p>
        <p class="view"><a href="https://github.com/drhenner/ror_ecommerce">View the Project on GitHub <small>drhenner/ror_ecommerce</small></a></p>


        <ul>
          <li><a href="https://github.com/drhenner/ror_ecommerce/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/drhenner/ror_ecommerce/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/drhenner/ror_ecommerce">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>ROR Ecommerce</h1>

<h2>Config</h2>
<p>
One of the first things you will need to do is setup your gateway to accept credit card payments. You need to open config/settings.yml. REMEMBER this file should never contain sensitive data that you couldn't share with a hacker down the street.  All secure data should be store in environmental variables. It is a bit dated but I also I recommend purchasing the Peepcode PDF about active merchant.
</p><p>

<pre><code>  encryption_key: someRandomBINARYKEY
  mailer:
    server: mail.example.com
    username: someLOGIN
    password: s0meth1ngs3cr3t
  paypal:
    ip:         192.168.0.1
    login:      someLOGIN.yahoo.com
    password:   somePASSWORD
    signature:  someSIGNATURE
  authnet:
    login:      <%= ENV['AUTHNET_LOGIN'] %>
    password:   <%= ENV['AUTHNET_PASSWORD'] %>
  vat: false
  require_state_in_address: true

  # tax_per_state_id is a field for tax being applied at the state level or country wide level in "TaxRate model"
  tax_per_state_id: true

  paperclip:
    s3_protocol: https
    s3_credentials:
      access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
      secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
    path: ':class/:attachment/:style/:hash.:extension'
    bucket: <%= ENV['FOG_DIRECTORY'] %>
    hash_secret: f8c07cf79094ec06f77b6024b5d7936c79b5227274fb8e82c00blaha
</code></pre>
</p>
<p>
  <h3>Mail</h3>
  If you need help setting mail up I suggest watching the <a href='http://railscasts.com/episodes/206-action-mailer-in-rails-3'>Railscast on Mail </a>
  I suggest keeping the secure passwords in this yml using enviromental variables and out of your GIT repo but this railscast gives a great tutorial.
</p>
<p>
  <h3>Gateways</h3>
  There are many payment gateways you can use to collect credit card information. Three of the most popular are paypal, authorize.net and braintree. Judging from my experience all work well. My advise is to look at each gateway and make your own choice. Railscasts has a series of <a href='http://railscasts.com/episodes/144-active-merchant-basics'>good tutorials working with paypal</a>.
</p>
<p>Remember NEVER ADD CREDIT CARD INFORMATION in your database. Even encrypted Credit Card information can get you in a lot of trouble. These payments gateways have great ways to store Credit Card information for recurring billing and reusing the credit cards.</p>

<p>If you are in the United States or Canada refactoring the checkout code to use spree takes very little time and Spree offers great advantages for PCI compliance and has an excellent developer sandbox.</p>




      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/drhenner">drhenner</a> and many <a href="https://github.com/drhenner/ror_ecommerce/blob/master/Contributors.md">contributors</a>.</p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>

