<div class="form-group">
  <%= f.text_area :note, class: "form-control", id: "comment_note" %>
</div>

<div class="form-group">
  <%= f.submit "Add a Note", class: "btn btn-primary btn-sm comment-submit-button" %>
</div>
