<h1> New Sale </h1>

<%= form_for @sale, :url => admin_generic_sales_path(@sale) do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Create' , class: 'button float-right' %></div>
<% end %>

<p><%= link_to "Back to List", admin_generic_sales_path, class: 'button secondary' %></p>
