<div class="mb-3">
  <ul class="vertical-list">
    <li><label class="form-label">State:</label> <span><%= invoice.state %></span></li>
    <li><label class="form-label">Invoice #:</label> <span><%= invoice.number %></span></li>
    <li><label class="form-label">Charge Amount:</label> <span><%= number_to_currency invoice.amount %></span></li>
  </ul>
</div>

<% if invoice.authorized? %>
  <a href="#"
     data-action="click->fulfillment-invoice#capture"
     class="btn btn-primary btn-sm">Collect</a>
  <a href="#"
     data-action="click->fulfillment-invoice#cancel"
     class="btn btn-danger btn-sm">CANCEL</a>
<% end %>
<% if invoice.paid? && order && order.shipments.count == 0 %>
  <%= link_to 'Create New Shipment', admin_fulfillment_shipments_path(order_number: order.number), data: { turbo_method: :post }, class: "btn btn-outline btn-sm" %> for all items.
<% end %>
