<table width="562" height="64" border="0" cellspacing="0" cellpadding="0" align="center"
      style="margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto">
  <tbody>
    <tr>
      <td align="left" height="58" valign="top" style="color:rgb(132,132,132);font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;padding-top:6px;padding-right:0px;padding-bottom:0px;padding-left:0px">
        <a href="<%= root_url %>" style="color:rgb(29,149,203);text-decoration:none" target="_blank">
          <img src="<%= image_path 'logos/logo-e.png' %>" border="0" alt="<%= @company_name %>" width="300"  height="48" style="border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-style:initial;border-color:initial;display:inline" />
        </a>
      </td>
      <td align="right" height="54" valign="middle" style="color:rgb(132,132,132);font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;padding-top:10px;padding-right:0px;padding-bottom:0px;padding-left:0px">
      <a href='<%= login_url %>' style="color:rgb(236,0,140);font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:1em;text-decoration:none" target="_blank"> Sign In
      </a>
      </td>
    </tr>
  </tbody>
</table>
