
<h1>Hi <%= @user.name %></h1>
<p>
  A request to reset your password has been made. Follow the instructions below to reset your password.
</p>
<p>
  To reset your password, just follow this link: <%= @url %>.
</p>
<p>
  If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.<br/><br/>
  your username is: <%= @user.email %>.
</p>
<p>Thank you and have a great day!</p>
<%= render :partial => 'notifier/main_footer' %>
