%h1
  Hi #{@user.name}
%p
  A request to reset your password has been made. Follow the instructions below to reset your password.
%p
  To reset your password, just follow this link: #{@url}.
%p
  If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.
  %br/
  %br/
  your username is: #{@user.email}.
%p Thank you and have a great day!
= render :partial => 'notifier/main_footer'
