
<h1>Hi <%= @referral.name %></h1>
<p>
  <%= @user.name %> wants you to join the club.
</p>
<p>
  Follow this : <%= link_to 'link', @url %> to get in on the fun.
</p>

<p>Thank you and have a great day!</p>
<%= render :partial => 'notifier/main_footer' %>
