<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style='text-align:center;'>
      <%= "Thanks for subscribing to the #{ I18n.t(:company) } newsletter." %>
    </p>
    <p style='text-align:center;text-transform:uppercase;'>
      <%= render :partial => 'notifier/main_footer' %>
    </p>
  </body>
</html>
