

<%#= f.text_area :description_markup, :id => "wmd-input", :cols => "92", :rows => "15" %>

<h1><span id="page_name" class="mercury-region" data-type="editable"><%= raw @product.name %></span></h1>
Might want to add a product title....

<div id="page_content" class="mercury-region" data-type="editable">
  <%= raw @product.description %>
</div>
<p><%= link_to "Edit Page", edit_admin_merchandise_products_description_url(@product),
                id: "edit_link",
                data: {save_url: admin_merchandise_products_description_url(@product)} %></p>
<p><%#= link_to "Edit Page",
          "/editor" + request.path,
          id: "edit_link", data: {save_url: mercury_update_page_path(@page)} %></p>