
<div class="post">
  <h2>
    <a href="#" id="article-name" class="article"> <%= @product.name %> </a>
    <span class="nobreak">
      <span class="date"><%= Time.now.strftime("%b %d") %></span>
    </span>
  </h2>

  <div id="wmd-preview" class="entry"></div>
</div><!--post-->