/* line 4, ../../app/stylesheets/_admin_header.scss */
#header_wrapper {
  width: 950px;
  margin-right: 0;
  background-color: #57B;
}
/* line 10, ../../app/stylesheets/_admin_header.scss */
#header_wrapper h1, #header_wrapper h3, #header_wrapper a {
  color: #EEE;
}

/* line 16, ../../app/stylesheets/_admin_header.scss */
#header_bar {
  width: 950px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-color: #57B;
  color: #FFFFFF;
  font-size: large;
  margin-right: 0;
  -moz-border-radius: 0px 0px 9px 9px;
  -webkit-border-radius: 0px 0px 9px 9px;
  behavior: url(border-radius.htc);
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header_bar {
  *display: inline;
}
/* line 24, ../../app/stylesheets/_admin_header.scss */
#header_bar a {
  color: #DDDDDD;
}

/* line 29, ../../app/stylesheets/_admin_header.scss */
#header_sub_bar {
  width: 910px;
  margin-right: 0;
  margin-left: 18px;
  background-color: #ACF;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  behavior: url(border-radius.htc);
  border: solid 2px #68C;
}

/* line 40, ../../app/stylesheets/_admin_header.scss */
#search_bar {
  width: 710px;
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-align: left;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#search_bar {
  *display: inline;
}

/* line 47, ../../app/stylesheets/_admin_header.scss */
#layout-search {
  margin-left: 5px;
  color: #EEE;
  font-weight: bolder;
  font-size: large;
}

/* line 54, ../../app/stylesheets/_admin_header.scss */
#cart_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#cart_items_button {
  *display: inline;
}

/* line 58, ../../app/stylesheets/_admin_header.scss */
#wish_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#wish_items_button {
  *display: inline;
}

/* line 1, ../../app/stylesheets/_address_form.scss */
.main-address label {
  display: inline-block;
  width: 100px;
}

/* line 2, ../../app/stylesheets/_app.scss */
a {
  text-decoration: none;
}

/* line 6, ../../app/stylesheets/_app.scss */
a:hover {
  background-color: transparent;
}

/* line 10, ../../app/stylesheets/_app.scss */
.left-text {
  text-align: left;
}

/* line 14, ../../app/stylesheets/_app.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 18, ../../app/stylesheets/_app.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 22, ../../app/stylesheets/_app.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 26, ../../app/stylesheets/_app.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 29, ../../app/stylesheets/_app.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 33, ../../app/stylesheets/_app.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 37, ../../app/stylesheets/_app.scss */
.padding-5 {
  padding: 5px;
}

/* line 41, ../../app/stylesheets/_app.scss */
.padding-10 {
  padding: 10px;
}

/* line 45, ../../app/stylesheets/_app.scss */
#admin-property-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-property-names p {
  width: 390px;
}

/* line 51, ../../app/stylesheets/_app.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 54, ../../app/stylesheets/_app.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 58, ../../app/stylesheets/_app.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 63, ../../app/stylesheets/_app.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 66, ../../app/stylesheets/_app.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 70, ../../app/stylesheets/_app.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 75, ../../app/stylesheets/_app.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 81, ../../app/stylesheets/_app.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 84, ../../app/stylesheets/_app.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 87, ../../app/stylesheets/_app.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 90, ../../app/stylesheets/_app.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 94, ../../app/stylesheets/_app.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 98, ../../app/stylesheets/_app.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 102, ../../app/stylesheets/_app.scss */
textarea.height-20 {
  height: 2em;
}

/* line 106, ../../app/stylesheets/_app.scss */
textarea.height-30 {
  height: 3em;
}

/* line 109, ../../app/stylesheets/_app.scss */
textarea.height-40 {
  height: 4em;
}

/* line 113, ../../app/stylesheets/_app.scss */
textarea.height-50 {
  height: 5em;
}

/* line 117, ../../app/stylesheets/_app.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 123, ../../app/stylesheets/_app.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 135, ../../app/stylesheets/_app.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 142, ../../app/stylesheets/_app.scss */
li {
  list-style: none;
}

/* line 147, ../../app/stylesheets/_app.scss */
.width-list li {
  clear: both;
  text-align: left;
}

/* line 153, ../../app/stylesheets/_app.scss */
.space-list-40 li {
  padding-bottom: 40px;
}

/* line 158, ../../app/stylesheets/_app.scss */
input.text, input.title, input[type="text"], input[type="password"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  margin: 0.15em 0;
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  height: 16px;
  font-size: 13px;
  padding: 6px 5px;
}

/* line 168, ../../app/stylesheets/_app.scss */
#content_wrapper {
  padding-top: 7px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

/* line 173, ../../app/stylesheets/_app.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 177, ../../app/stylesheets/_app.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 182, ../../app/stylesheets/_app.scss */
#right_side_panel {
  text-align: left;
}

/* line 188, ../../app/stylesheets/_app.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 192, ../../app/stylesheets/_app.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 1px #DD8888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  background-color: #FFF;
  cursor: pointer;
}

/* line 201, ../../app/stylesheets/_app.scss */
.variant_select {
  text-align: left;
}

/* line 205, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 208, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 213, ../../app/stylesheets/_app.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 219, ../../app/stylesheets/_app.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 227, ../../app/stylesheets/_app.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 235, ../../app/stylesheets/_app.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 239, ../../app/stylesheets/_app.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 248, ../../app/stylesheets/_app.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 252, ../../app/stylesheets/_app.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 261, ../../app/stylesheets/_app.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 270, ../../app/stylesheets/_app.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 279, ../../app/stylesheets/_app.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 288, ../../app/stylesheets/_app.scss */
.dkBlueBox {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  border: solid #AED2EE 0.5px;
}

/* line 293, ../../app/stylesheets/_app.scss */
.innerBox {
  padding: 8px;
}

/* line 296, ../../app/stylesheets/_app.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 302, ../../app/stylesheets/_app.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
