/* line 4, ../../app/stylesheets/_admin_header.scss */
#header_wrapper {
  width: 950px;
  margin-right: 0;
  background-color: #57B;
}
/* line 10, ../../app/stylesheets/_admin_header.scss */
#header_wrapper h1, #header_wrapper h3, #header_wrapper a {
  color: #EEE;
}

/* line 16, ../../app/stylesheets/_admin_header.scss */
#header_bar {
  width: 950px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-color: #57B;
  color: #FFFFFF;
  font-size: large;
  margin-right: 0;
  -moz-border-radius: 0px 0px 9px 9px;
  -webkit-border-radius: 0px 0px 9px 9px;
  behavior: url(border-radius.htc);
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header_bar {
  *display: inline;
}
/* line 24, ../../app/stylesheets/_admin_header.scss */
#header_bar a {
  color: #DDDDDD;
}

/* line 29, ../../app/stylesheets/_admin_header.scss */
#header_sub_bar {
  width: 910px;
  margin-right: 0;
  margin-left: 18px;
  background-color: #ACF;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  behavior: url(border-radius.htc);
  border: solid 2px #68C;
}

/* line 40, ../../app/stylesheets/_admin_header.scss */
#search_bar {
  width: 710px;
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-align: left;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#search_bar {
  *display: inline;
}

/* line 47, ../../app/stylesheets/_admin_header.scss */
#layout-search {
  margin-left: 5px;
  color: #EEE;
  font-weight: bolder;
  font-size: large;
}

/* line 54, ../../app/stylesheets/_admin_header.scss */
#cart_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#cart_items_button {
  *display: inline;
}

/* line 58, ../../app/stylesheets/_admin_header.scss */
#wish_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@ror_e/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#wish_items_button {
  *display: inline;
}

/* line 1, ../../app/stylesheets/_admin_sidebar.scss */
.ar-sidebar {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: 1px #DDD solid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 8, ../../app/stylesheets/_admin_sidebar.scss */
.ar-sidebar li {
  color: #666;
  font-family: HighTower,Georgia,serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: left;
}
/* line 15, ../../app/stylesheets/_admin_sidebar.scss */
.ar-sidebar li a {
  color: #666 important;
}

/* line 1, ../../app/stylesheets/_address_form.scss */
.main-address label {
  display: inline-block;
  width: 100px;
}

/* line 2, ../../app/stylesheets/_admin_buttons.scss */
.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 24, ../../app/stylesheets/_admin_buttons.scss */
.button {
  background: #777777;
  background: -webkit-gradient(linear, top, bottom, from(#888888), to(#555555));
  background: -moz-linear-gradient(center top, #888888, #555555) repeat scroll 0 0 transparent;
  border: 1px solid #444444;
  color: #FFFFFF !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}

/* line 36, ../../app/stylesheets/_admin_buttons.scss */
.button.selected {
  background: #AAAAAA;
  background: -webkit-gradient(linear, top, bottom, from(#aaaaaa), to(#888888));
  background: -moz-linear-gradient(center top, #aaaaaa, #888888) repeat scroll 0 0 transparent;
  border: 1px solid #777777;
}

/* line 42, ../../app/stylesheets/_admin_buttons.scss */
.button:hover {
  background: #555555;
  background: -webkit-gradient(linear, top, bottom, from(#666666), to(#333333));
  background: -moz-linear-gradient(center top, #666666, #333333) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
  border: 1px solid #444444;
  color: #F7F7F7 !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}

/* line 56, ../../app/stylesheets/_admin_buttons.scss */
div .red-button {
  background: #d81b21;
  background: -webkit-gradient(linear, top, bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(center top, #ed1c24, #aa1317) repeat scroll 0 0 transparent;
  border: 1px solid #980c10;
  color: #FFFFFF !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}
/* line 68, ../../app/stylesheets/_admin_buttons.scss */
div .red-button.selected {
  background: #de898c;
  background: -webkit-gradient(linear, top, bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(center top, #aa1317, #ed1c24) repeat scroll 0 0 transparent;
  border: 1px solid #980c10;
}
/* line 74, ../../app/stylesheets/_admin_buttons.scss */
div .red-button:hover {
  background: #b61318;
  background: -webkit-gradient(linear, top, bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(center top, #c9151b, #a11115) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
  border: 1px solid #980c10;
  color: #eeeeee !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}

/* line 88, ../../app/stylesheets/_admin_buttons.scss */
div .green-button {
  background: #64991e;
  background: -webkit-gradient(linear, top, bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(center top, #7db72f, #4e7d0e) repeat scroll 0 0 transparent;
  border: 1px solid #538312;
  color: #e8f0de !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}
/* line 100, ../../app/stylesheets/_admin_buttons.scss */
div .green-button.selected {
  background: #de898c;
  background: -webkit-gradient(linear, top, bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(center top, #aa1317, #ed1c24) repeat scroll 0 0 transparent;
  border: 1px solid #538312;
}
/* line 106, ../../app/stylesheets/_admin_buttons.scss */
div .green-button:hover {
  background: #538018;
  background: -webkit-gradient(linear, top, bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(center top, #6b9d28, #436b0c) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
  border: 1px solid #538312;
  color: #eeeeee !important;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.7em;
}

/* line 1, ../../app/stylesheets/_app.scss */
html, body {
  height: 100%;
}

/* line 3, ../../app/stylesheets/_app.scss */
body #body_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 10, ../../app/stylesheets/_app.scss */
a {
  text-decoration: none;
}

/* line 14, ../../app/stylesheets/_app.scss */
a:hover {
  background-color: transparent;
}

/* line 18, ../../app/stylesheets/_app.scss */
.left-text {
  text-align: left;
}

/* line 22, ../../app/stylesheets/_app.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 26, ../../app/stylesheets/_app.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 30, ../../app/stylesheets/_app.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 34, ../../app/stylesheets/_app.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 37, ../../app/stylesheets/_app.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 41, ../../app/stylesheets/_app.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 45, ../../app/stylesheets/_app.scss */
.padding-5 {
  padding: 5px;
}

/* line 49, ../../app/stylesheets/_app.scss */
.padding-10 {
  padding: 10px;
}

/* line 53, ../../app/stylesheets/_app.scss */
#admin-property-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-property-names p {
  width: 390px;
}

/* line 59, ../../app/stylesheets/_app.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 62, ../../app/stylesheets/_app.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 66, ../../app/stylesheets/_app.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 71, ../../app/stylesheets/_app.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 74, ../../app/stylesheets/_app.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 78, ../../app/stylesheets/_app.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 83, ../../app/stylesheets/_app.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 89, ../../app/stylesheets/_app.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 92, ../../app/stylesheets/_app.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 95, ../../app/stylesheets/_app.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 98, ../../app/stylesheets/_app.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 102, ../../app/stylesheets/_app.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 106, ../../app/stylesheets/_app.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 110, ../../app/stylesheets/_app.scss */
textarea.height-20 {
  height: 2em;
}

/* line 114, ../../app/stylesheets/_app.scss */
textarea.height-30 {
  height: 3em;
}

/* line 117, ../../app/stylesheets/_app.scss */
textarea.height-40 {
  height: 4em;
}

/* line 121, ../../app/stylesheets/_app.scss */
textarea.height-50 {
  height: 5em;
}

/* line 125, ../../app/stylesheets/_app.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 131, ../../app/stylesheets/_app.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 143, ../../app/stylesheets/_app.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 150, ../../app/stylesheets/_app.scss */
li {
  list-style: none;
}

/* line 155, ../../app/stylesheets/_app.scss */
.width-list li {
  clear: both;
  text-align: left;
}

/* line 161, ../../app/stylesheets/_app.scss */
.space-list-40 li {
  padding-bottom: 40px;
}

/* line 166, ../../app/stylesheets/_app.scss */
input.text, input.title, input[type="text"], input[type="password"], input[type="email"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  margin: 0.15em 0;
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  height: 16px;
  font-size: 13px;
  padding: 6px 5px;
}

/* line 176, ../../app/stylesheets/_app.scss */
#content_wrapper {
  padding-top: 7px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

/* line 181, ../../app/stylesheets/_app.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 185, ../../app/stylesheets/_app.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 190, ../../app/stylesheets/_app.scss */
#right_side_panel {
  text-align: left;
}

/* line 196, ../../app/stylesheets/_app.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 200, ../../app/stylesheets/_app.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 1px #DD8888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  background-color: #FFF;
  cursor: pointer;
}

/* line 209, ../../app/stylesheets/_app.scss */
.variant_select {
  text-align: left;
}

/* line 213, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 216, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 221, ../../app/stylesheets/_app.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 227, ../../app/stylesheets/_app.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 234, ../../app/stylesheets/_app.scss */
.box.selected {
  background-color: #f0fff8;
}

/* line 237, ../../app/stylesheets/_app.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 245, ../../app/stylesheets/_app.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 249, ../../app/stylesheets/_app.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 258, ../../app/stylesheets/_app.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 262, ../../app/stylesheets/_app.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 271, ../../app/stylesheets/_app.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 280, ../../app/stylesheets/_app.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 289, ../../app/stylesheets/_app.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 298, ../../app/stylesheets/_app.scss */
.dkBlueBox {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  border: solid #AED2EE 0.5px;
}

/* line 303, ../../app/stylesheets/_app.scss */
.innerBox {
  padding: 8px;
}

/* line 306, ../../app/stylesheets/_app.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 312, ../../app/stylesheets/_app.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
