/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, a.button, button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1285886228') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, a.button:focus, button:focus {
  outline: none;
}

/* line 3, ../../app/stylesheets/buttons.scss */
body {
  text-align: center;
  padding-top: 10px;
}

/* line 7, ../../app/stylesheets/buttons.scss */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  letter-spacing: -1px;
}

/* line 12, ../../app/stylesheets/buttons.scss */
h1 {
  font-size: 50px;
}

/* line 15, ../../app/stylesheets/buttons.scss */
h2 {
  font-size: 30px;
}

/* line 18, ../../app/stylesheets/buttons.scss */
div {
  margin-top: 15px;
}

/* line 32, ../../app/stylesheets/buttons.scss */
a.button, button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 2px;
  vertical-align: middle;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button, a.button:visited, button, button:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:hover:visited, a.button:focus, a.button:focus:visited, button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:active, button:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button:active, a.button:active:visited, button:active, button:active:visited {
  color: white;
}
/* line 37, ../../app/stylesheets/buttons.scss */
a.button.light, button.light {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cecece));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cecece 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cecece 100%);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.light, a.button.light:visited, button.light, button.light:visited {
  color: #222222;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.light:hover, a.button.light:focus, button.light:hover, button.light:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.light:hover, a.button.light:hover:visited, a.button.light:focus, a.button.light:focus:visited, button.light:hover, button.light:hover:visited, button.light:focus, button.light:focus:visited {
  color: #222222;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.light:active, button.light:active {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cbcbcb), color-stop(40%, #d3d3d3), color-stop(85%, #d3d3d3), color-stop(100%, #e5e5e5));
  background-image: -moz-linear-gradient(top, #cbcbcb 0%, #d3d3d3 40%, #d3d3d3 85%, #e5e5e5 100%);
  background-image: linear-gradient(top, #cbcbcb 0%, #d3d3d3 40%, #d3d3d3 85%, #e5e5e5 100%);
  border-color: #a7a7a7;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.light:active, a.button.light:active:visited, button.light:active, button.light:active:visited {
  color: #222222;
}
/* line 39, ../../app/stylesheets/buttons.scss */
a.button.matte-blue, button.matte-blue {
  background-color: #0058b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #367fce), color-stop(100%, #1e4b7b));
  background-image: -moz-linear-gradient(top, #367fce 0%, #1e4b7b 100%);
  background-image: linear-gradient(top, #367fce 0%, #1e4b7b 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.matte-blue, a.button.matte-blue:visited, button.matte-blue, button.matte-blue:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.matte-blue:hover, a.button.matte-blue:focus, button.matte-blue:hover, button.matte-blue:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3078c4), color-stop(100%, #1b436e));
  background-image: -moz-linear-gradient(top, #3078c4 0%, #1b436e 100%);
  background-image: linear-gradient(top, #3078c4 0%, #1b436e 100%);
  border-color: #122d49;
  text-shadow: #001428 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.matte-blue:hover, a.button.matte-blue:hover:visited, a.button.matte-blue:focus, a.button.matte-blue:focus:visited, button.matte-blue:hover, button.matte-blue:hover:visited, button.matte-blue:focus, button.matte-blue:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.matte-blue:active, button.matte-blue:active {
  background-color: #004a99;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1d4877), color-stop(40%, #205083), color-stop(85%, #205083), color-stop(100%, #2761a0));
  background-image: -moz-linear-gradient(top, #1d4877 0%, #205083 40%, #205083 85%, #2761a0 100%);
  background-image: linear-gradient(top, #1d4877 0%, #205083 40%, #205083 85%, #2761a0 100%);
  border-color: #0f253d;
  text-shadow: #000c19 0px -1px -1px;
  -moz-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  box-shadow: #153456 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.matte-blue:active, a.button.matte-blue:active:visited, button.matte-blue:active, button.matte-blue:active:visited {
  color: white;
}
/* line 41, ../../app/stylesheets/buttons.scss */
a.button.green, button.green {
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.green, a.button.green:visited, button.green, button.green:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.green:hover, a.button.green:focus, button.green:hover, button.green:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.green:hover, a.button.green:hover:visited, a.button.green:focus, a.button.green:focus:visited, button.green:hover, button.green:hover:visited, button.green:focus, button.green:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.green:active, button.green:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.green:active, a.button.green:active:visited, button.green:active, button.green:active:visited {
  color: white;
}
/* line 43, ../../app/stylesheets/buttons.scss */
a.button.blue, button.blue {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
  font-size: 32px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 3px;
  background-color: #0058b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #80aee0), color-stop(10%, #367fce), color-stop(50%, #215287), color-stop(50%, #1e4b7b), color-stop(100%, #2864a4));
  background-image: -moz-linear-gradient(top, #80aee0 0%, #367fce 10%, #215287 50%, #1e4b7b 50%, #2864a4 100%);
  background-image: linear-gradient(top, #80aee0 0%, #367fce 10%, #215287 50%, #1e4b7b 50%, #2864a4 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.blue, a.button.blue:visited, button.blue, button.blue:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.blue:hover, a.button.blue:focus, button.blue:hover, button.blue:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #73a6dd), color-stop(10%, #3078c4), color-stop(50%, #1e4b7b), color-stop(50%, #1b436e), color-stop(100%, #255c97));
  background-image: -moz-linear-gradient(top, #73a6dd 0%, #3078c4 10%, #1e4b7b 50%, #1b436e 50%, #255c97 100%);
  background-image: linear-gradient(top, #73a6dd 0%, #3078c4 10%, #1e4b7b 50%, #1b436e 50%, #255c97 100%);
  border-color: #122d49;
  text-shadow: #001428 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.blue:hover, a.button.blue:hover:visited, a.button.blue:focus, a.button.blue:focus:visited, button.blue:hover, button.blue:hover:visited, button.blue:focus, button.blue:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.blue:active, button.blue:active {
  background-color: #004a99;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1e4b7b), color-stop(30%, #205083), color-stop(50%, #1c4672), color-stop(50%, #193e66), color-stop(100%, #265f9b));
  background-image: -moz-linear-gradient(top, #1e4b7b 0%, #205083 30%, #1c4672 50%, #193e66 50%, #265f9b 100%);
  background-image: linear-gradient(top, #1e4b7b 0%, #205083 30%, #1c4672 50%, #193e66 50%, #265f9b 100%);
  border-color: #0f253d;
  text-shadow: #000c19 0px -1px -1px;
  -moz-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  box-shadow: #153456 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.blue:active, a.button.blue:active:visited, button.blue:active, button.blue:active:visited {
  color: white;
}
/* line 46, ../../app/stylesheets/buttons.scss */
a.button.red, button.red {
  background-color: #b70300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e08180), color-stop(10%, #ce3836), color-stop(50%, #872321), color-stop(50%, #7b201e), color-stop(100%, #a42a28));
  background-image: -moz-linear-gradient(top, #e08180 0%, #ce3836 10%, #872321 50%, #7b201e 50%, #a42a28 100%);
  background-image: linear-gradient(top, #e08180 0%, #ce3836 10%, #872321 50%, #7b201e 50%, #a42a28 100%);
  border-color: #561615;
  text-shadow: #380100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.red, a.button.red:visited, button.red, button.red:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.red:hover, a.button.red:focus, button.red:hover, button.red:focus {
  background-color: #a80300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dd7573), color-stop(10%, #c43330), color-stop(50%, #7b201e), color-stop(50%, #6e1c1b), color-stop(100%, #972725));
  background-image: -moz-linear-gradient(top, #dd7573 0%, #c43330 10%, #7b201e 50%, #6e1c1b 50%, #972725 100%);
  background-image: linear-gradient(top, #dd7573 0%, #c43330 10%, #7b201e 50%, #6e1c1b 50%, #972725 100%);
  border-color: #491312;
  text-shadow: #280100 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.red:hover, a.button.red:hover:visited, a.button.red:focus, a.button.red:focus:visited, button.red:hover, button.red:hover:visited, button.red:focus, button.red:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.red:active, button.red:active {
  background-color: #990300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #7b201e), color-stop(30%, #832220), color-stop(50%, #721d1c), color-stop(50%, #661a19), color-stop(100%, #9b2826));
  background-image: -moz-linear-gradient(top, #7b201e 0%, #832220 30%, #721d1c 50%, #661a19 50%, #9b2826 100%);
  background-image: linear-gradient(top, #7b201e 0%, #832220 30%, #721d1c 50%, #661a19 50%, #9b2826 100%);
  border-color: #3d100f;
  text-shadow: #190000 0px -1px -1px;
  -moz-box-shadow: #561615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #561615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #561615 0 0.08em 0.1em 1px inset;
  box-shadow: #561615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.red:active, a.button.red:active:visited, button.red:active, button.red:active:visited {
  color: white;
}
/* line 48, ../../app/stylesheets/buttons.scss */
a.button.yellow, button.yellow {
  background-color: #e5e600;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ebeba2), color-stop(10%, #dbdb57), color-stop(50%, #b1b125), color-stop(50%, #a4a423), color-stop(100%, #cece2c));
  background-image: -moz-linear-gradient(top, #ebeba2 0%, #dbdb57 10%, #b1b125 50%, #a4a423 50%, #cece2c 100%);
  background-image: linear-gradient(top, #ebeba2 0%, #dbdb57 10%, #b1b125 50%, #a4a423 50%, #cece2c 100%);
  border-color: #7e7e1b;
  text-shadow: #666600 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.45) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.45) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.45) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.45) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.yellow, a.button.yellow:visited, button.yellow, button.yellow:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.yellow:hover, a.button.yellow:focus, button.yellow:hover, button.yellow:focus {
  background-color: #d6d600;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e9e996), color-stop(10%, #d9d94a), color-stop(50%, #a4a423), color-stop(50%, #979720), color-stop(100%, #c2c229));
  background-image: -moz-linear-gradient(top, #e9e996 0%, #d9d94a 10%, #a4a423 50%, #979720 50%, #c2c229 100%);
  background-image: linear-gradient(top, #e9e996 0%, #d9d94a 10%, #a4a423 50%, #979720 50%, #c2c229 100%);
  border-color: #727218;
  text-shadow: #575700 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.yellow:hover, a.button.yellow:hover:visited, a.button.yellow:focus, a.button.yellow:focus:visited, button.yellow:hover, button.yellow:hover:visited, button.yellow:focus, button.yellow:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.yellow:active, button.yellow:active {
  background-color: #c7c700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a4a423), color-stop(30%, #adad25), color-stop(50%, #9c9c21), color-stop(50%, #8f8f1e), color-stop(100%, #c6c62a));
  background-image: -moz-linear-gradient(top, #a4a423 0%, #adad25 30%, #9c9c21 50%, #8f8f1e 50%, #c6c62a 100%);
  background-image: linear-gradient(top, #a4a423 0%, #adad25 30%, #9c9c21 50%, #8f8f1e 50%, #c6c62a 100%);
  border-color: #656515;
  text-shadow: #474700 0px -1px -1px;
  -moz-box-shadow: #7e7e1b 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #7e7e1b 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #7e7e1b 0 0.08em 0.1em 1px inset;
  box-shadow: #7e7e1b 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.yellow:active, a.button.yellow:active:visited, button.yellow:active, button.yellow:active:visited {
  color: white;
}
/* line 50, ../../app/stylesheets/buttons.scss */
a.button.custom, button.custom {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 30px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  padding: 2px 12px;
  border-width: 2px;
}
/* line 53, ../../app/stylesheets/buttons.scss */
a.button.heart, button.heart {
  background-color: #c10300;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #e82926), color-stop(100%, #7c0f0d));
  background-image: -moz-radial-gradient(50% 10%, circle, #e82926 0%, #7c0f0d 30px);
  background-image: radial-gradient(50% 10%, circle, #e82926 0%, #7c0f0d 30px);
  border-color: #6a0d0b;
  text-shadow: #420100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.379) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.379) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.379) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.379) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.heart, a.button.heart:visited, button.heart, button.heart:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.heart:hover, a.button.heart:focus, button.heart:hover, button.heart:focus {
  background-color: #b20300;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #e61c19), color-stop(100%, #6e0d0c));
  background-image: -moz-radial-gradient(50% 10%, circle, #e61c19 0%, #6e0d0c 30px);
  background-image: radial-gradient(50% 10%, circle, #e61c19 0%, #6e0d0c 30px);
  border-color: #5c0b0a;
  text-shadow: #330100 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.heart:hover, a.button.heart:hover:visited, a.button.heart:focus, a.button.heart:focus:visited, button.heart:hover, button.heart:hover:visited, button.heart:focus, button.heart:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.heart:active, button.heart:active {
  background-color: #a30300;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #d81a17), color-stop(100%, #600c0a));
  background-image: -moz-radial-gradient(50% 10%, circle, #d81a17 0%, #600c0a 30px);
  background-image: radial-gradient(50% 10%, circle, #d81a17 0%, #600c0a 30px);
  border-color: #4e0a08;
  text-shadow: #230100 0px -1px -1px;
  -moz-box-shadow: #6a0d0b 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #6a0d0b 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #6a0d0b 0 0.08em 0.1em 1px inset;
  box-shadow: #6a0d0b 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.heart:active, a.button.heart:active:visited, button.heart:active, button.heart:active:visited {
  color: white;
}
/* line 55, ../../app/stylesheets/buttons.scss */
a.button.arrow, button.arrow {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  font-size: 30px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #ffffff), color-stop(100%, #c1c1c1));
  background-image: -moz-radial-gradient(50% 10%, circle, #ffffff 0%, #c1c1c1 30px);
  background-image: radial-gradient(50% 10%, circle, #ffffff 0%, #c1c1c1 30px);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.867) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2px 6px;
  border-width: 2px;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.arrow, a.button.arrow:visited, button.arrow, button.arrow:visited {
  color: #222222;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.arrow:hover, a.button.arrow:focus, button.arrow:hover, button.arrow:focus {
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #fcfcfc), color-stop(100%, #b9b9b9));
  background-image: -moz-radial-gradient(50% 10%, circle, #fcfcfc 0%, #b9b9b9 30px);
  background-image: radial-gradient(50% 10%, circle, #fcfcfc 0%, #b9b9b9 30px);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.arrow:hover, a.button.arrow:hover:visited, a.button.arrow:focus, a.button.arrow:focus:visited, button.arrow:hover, button.arrow:hover:visited, button.arrow:focus, button.arrow:focus:visited {
  color: #222222;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.arrow:active, button.arrow:active {
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #f4f4f4), color-stop(100%, #b2b2b2));
  background-image: -moz-radial-gradient(50% 10%, circle, #f4f4f4 0%, #b2b2b2 30px);
  background-image: radial-gradient(50% 10%, circle, #f4f4f4 0%, #b2b2b2 30px);
  border-color: #a7a7a7;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
  box-shadow: #b7b7b7 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.arrow:active, a.button.arrow:active:visited, button.arrow:active, button.arrow:active:visited {
  color: #222222;
}
/* line 59, ../../app/stylesheets/buttons.scss */
a.button.spade, button.spade {
  background-color: #0058b7;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #367fce), color-stop(100%, #193e66));
  background-image: -moz-radial-gradient(50% 10%, circle, #367fce 0%, #193e66 30px);
  background-image: radial-gradient(50% 10%, circle, #367fce 0%, #193e66 30px);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2px 8px;
  border-width: 2px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.spade, a.button.spade:visited, button.spade, button.spade:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.spade:hover, a.button.spade:focus, button.spade:hover, button.spade:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #3078c4), color-stop(100%, #16375a));
  background-image: -moz-radial-gradient(50% 10%, circle, #3078c4 0%, #16375a 30px);
  background-image: radial-gradient(50% 10%, circle, #3078c4 0%, #16375a 30px);
  border-color: #122d49;
  text-shadow: #001428 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.spade:hover, a.button.spade:hover:visited, a.button.spade:focus, a.button.spade:focus:visited, button.spade:hover, button.spade:hover:visited, button.spade:focus, button.spade:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.spade:active, button.spade:active {
  background-color: #004a99;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #2d70b8), color-stop(100%, #132f4e));
  background-image: -moz-radial-gradient(50% 10%, circle, #2d70b8 0%, #132f4e 30px);
  background-image: radial-gradient(50% 10%, circle, #2d70b8 0%, #132f4e 30px);
  border-color: #0f253d;
  text-shadow: #000c19 0px -1px -1px;
  -moz-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #153456 0 0.08em 0.1em 1px inset;
  box-shadow: #153456 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@my_app/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.button.spade:active, a.button.spade:active:visited, button.spade:active, button.spade:active:visited {
  color: white;
}
