/* line 3, ../../app/stylesheets/buttons.scss */
body {
  text-align: center;
  padding-top: 10px;
}

/* line 7, ../../app/stylesheets/buttons.scss */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  letter-spacing: -1px;
}

/* line 12, ../../app/stylesheets/buttons.scss */
h1 {
  font-size: 50px;
}

/* line 15, ../../app/stylesheets/buttons.scss */
h2 {
  font-size: 30px;
}

/* line 18, ../../app/stylesheets/buttons.scss */
div {
  margin-top: 15px;
}

/*
@mixin custom-fancy-gradient($color1, $color2) {
  @include radial-gradient(color_stops($color1, darken($color2, 5) 30px), "50% 10%"); }

@mixin invert-custom-fancy-gradient($color1, $color2) {
  @include custom-fancy-gradient(lighten($color2, 10), lighten($color2, 25)); }

a.button, button {
  @include fancy-button-structure;
  @include fancy-button-colors;
  margin: 0 2px;
  vertical-align: middle;
  &.light {
    @include fancy-button-colors-matte(#dddddd); }
  &.matte-blue {
    @include fancy-button-colors-matte($blue); }
  &.green {
    @include fancy-button-colors($green); }
  &.blue {
    @include fancy-button-size(32px, 32px, 3px);
    @include fancy-button-colors($blue); }
  &.red {
    @include fancy-button-colors($red); }
  &.yellow {
    @include fancy-button-colors(darken(desaturate(yellow, 35), 5)); }
  &.custom {
    @include fancy-button-size(30px, 10px);
    @include fancy-button-padding(2px, 12px, 2px); }
  &.heart {
    @include fancy-button-colors-custom($heart_button); }
  &.arrow {
    @include fancy-button-size(30px, 30px);
    @include fancy-button-colors-custom(#dddddd);
    @include fancy-button-padding(2px, 6px, 2px); }
  &.spade {
    @include fancy-button-colors-custom($blue);
    @include fancy-button-padding(2px, 8px, 2px); } }
*/
