/* line 4, ../../app/stylesheets/main.scss */
#header_wrapper {
  width: 950px;
  margin-right: 0;
  background-color: #57B;
}
/* line 10, ../../app/stylesheets/main.scss */
#header_wrapper h1, #header_wrapper h3, #header_wrapper a {
  color: #EEE;
}

/* line 73, ../../app/stylesheets/main.scss */
a {
  text-decoration: none;
}

/* line 77, ../../app/stylesheets/main.scss */
a:hover {
  background-color: transparent;
}

/* line 81, ../../app/stylesheets/main.scss */
.left-text {
  text-align: left;
}

/* line 85, ../../app/stylesheets/main.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 89, ../../app/stylesheets/main.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 93, ../../app/stylesheets/main.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 97, ../../app/stylesheets/main.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 100, ../../app/stylesheets/main.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 104, ../../app/stylesheets/main.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 108, ../../app/stylesheets/main.scss */
.padding-5 {
  padding: 5px;
}

/* line 112, ../../app/stylesheets/main.scss */
.padding-10 {
  padding: 10px;
}

/* line 116, ../../app/stylesheets/main.scss */
#admin-property-names {
  width: 390px;
}
/* line 68, ../../app/stylesheets/main.scss */
#admin-property-names p {
  width: 390px;
}

/* line 122, ../../app/stylesheets/main.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 125, ../../app/stylesheets/main.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 129, ../../app/stylesheets/main.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 139, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 134, ../../app/stylesheets/main.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 137, ../../app/stylesheets/main.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 141, ../../app/stylesheets/main.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 139, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 146, ../../app/stylesheets/main.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 68, ../../app/stylesheets/main.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 152, ../../app/stylesheets/main.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 155, ../../app/stylesheets/main.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 158, ../../app/stylesheets/main.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 139, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 161, ../../app/stylesheets/main.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 68, ../../app/stylesheets/main.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 165, ../../app/stylesheets/main.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 169, ../../app/stylesheets/main.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 173, ../../app/stylesheets/main.scss */
textarea.height-20 {
  height: 2em;
}

/* line 177, ../../app/stylesheets/main.scss */
textarea.height-30 {
  height: 3em;
}

/* line 180, ../../app/stylesheets/main.scss */
textarea.height-40 {
  height: 4em;
}

/* line 184, ../../app/stylesheets/main.scss */
textarea.height-50 {
  height: 5em;
}

/* line 188, ../../app/stylesheets/main.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 194, ../../app/stylesheets/main.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 206, ../../app/stylesheets/main.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 213, ../../app/stylesheets/main.scss */
#header_bar {
  width: 950px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  background-color: #57B;
  margin-right: 0;
  -moz-border-radius: 0px 0px 9px 9px;
  -webkit-border-radius: 0px 0px 9px 9px;
  behavior: url(border-radius.htc);
}

/* line 221, ../../app/stylesheets/main.scss */
#header_sub_bar {
  width: 910px;
  margin-right: 0;
  margin-left: 18px;
  background-color: #8AE;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  behavior: url(border-radius.htc);
  border: solid 2px #68C;
}

/* line 232, ../../app/stylesheets/main.scss */
#search_bar {
  width: 710px;
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  text-align: left;
}

/* line 239, ../../app/stylesheets/main.scss */
#layout-search {
  margin-left: 5px;
  color: #EEE;
  font-weight: bolder;
  font-size: large;
}

/* line 246, ../../app/stylesheets/main.scss */
#cart_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 250, ../../app/stylesheets/main.scss */
#wish_items_button {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
}

/* line 257, ../../app/stylesheets/main.scss */
li {
  list-style: none;
}

/* line 260, ../../app/stylesheets/main.scss */
input.text, input.title, input[type="text"], input[type="password"] {
  background-color: white;
  margin: 0.15em 0;
  padding: 5px;
}

/* line 266, ../../app/stylesheets/main.scss */
#content_wrapper {
  padding-top: 4px;
}

/* line 270, ../../app/stylesheets/main.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 274, ../../app/stylesheets/main.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 279, ../../app/stylesheets/main.scss */
#right_side_panel {
  text-align: left;
}

/* line 285, ../../app/stylesheets/main.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 289, ../../app/stylesheets/main.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 2px #ddc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  background-color: #EED;
  cursor: pointer;
}

/* line 298, ../../app/stylesheets/main.scss */
.variant_select {
  text-align: left;
}

/* line 302, ../../app/stylesheets/main.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 305, ../../app/stylesheets/main.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 310, ../../app/stylesheets/main.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 316, ../../app/stylesheets/main.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 324, ../../app/stylesheets/main.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 332, ../../app/stylesheets/main.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 336, ../../app/stylesheets/main.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 345, ../../app/stylesheets/main.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 349, ../../app/stylesheets/main.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 358, ../../app/stylesheets/main.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 367, ../../app/stylesheets/main.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 376, ../../app/stylesheets/main.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 385, ../../app/stylesheets/main.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 391, ../../app/stylesheets/main.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
