/* line 3, ../../app/stylesheets/_main_header.scss */
#header_wrapper {
  border-bottom: 1px solid #CCCCCC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
}
/* line 8, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  height: 59px;
}
/* line 12, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header .container {
  margin-left: auto;
  margin-right: auto;
}
/* line 16, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search {
  border-right: 1px solid #EEEEEE;
  display: inline;
  float: left;
  height: 29px;
  padding: 17px 15px 13px;
}
/* line 22, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search.input-search {
  width: 230px;
}
/* line 26, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo {
  display: inline;
  float: left;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0px;
  border-right: 1px solid #CCCCCC;
  width: 224px;
  height: 100%;
}
/* line 37, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a {
  display: block;
  padding: 0px;
}
/* line 41, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a span {
  -moz-box-orient: vertical;
  display: block;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  width: 160px;
}
/* line 52, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main {
  font-size: 0;
  list-style-type: none;
  float: left;
  margin: 0;
  overflow: hidden;
}
/* line 59, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user {
  display: inline-block;
}
/* line 61, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div {
  display: inline-block;
  padding: 13px 9px;
  border-right: 1px solid #CCCCCC;
}
/* line 65, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div strong {
  color: #55A4F2 !important;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
/* line 72, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 76, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div a {
  padding: 0px 0px;
  border-right: none;
}
/* line 83, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li {
  margin-left: 0;
  display: inline-block;
}
/* line 87, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a {
  display: inline-block;
  padding: 13px 7px;
  border-right: 1px solid #CCCCCC;
}
/* line 92, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a strong {
  color: #55A4F2 !important;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}
/* line 99, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 104, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a #menu-main-fund {
  margin-left: -1px;
}
/* line 108, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected {
  border-bottom: 1px solid #FFFFFF;
  border-color: #CCCCCC #CCCCCC #FFFFFF;
  z-index: 1;
}
/* line 113, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected a {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 120, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  outline: 0 none;
  overflow: visible;
  padding: 0 0 0 8px;
}
/* line 129, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}
/* line 139, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li:first-child, #header_wrapper #header #menu-sub li.first {
  padding-left: 0;
}

/* line 146, ../../app/stylesheets/_main_header.scss */
.field.search {
  position: relative;
}
/* line 148, ../../app/stylesheets/_main_header.scss */
.field.search .icon-search {
  left: 8px;
  position: absolute;
  top: 5px;
}
/* line 153, ../../app/stylesheets/_main_header.scss */
.field.search input.text {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  behavior: url(border-radius.htc);
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  height: 14px !important;
  margin: 0;
  outline: medium none;
  padding: 4px 28px;
  vertical-align: top;
  width: 225px;
}

/* line 167, ../../app/stylesheets/_main_header.scss */
.icon-search {
  -moz-box-orient: vertical;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  vertical-align: middle;
  width: 14px;
}

/* line 178, ../../app/stylesheets/_main_header.scss */
a {
  color: #55A4F2;
  text-decoration: none;
}

/* line 182, ../../app/stylesheets/_main_header.scss */
a:visited {
  color: #4484D2;
}

/* line 2, ../../app/stylesheets/_app.scss */
a {
  text-decoration: none;
}

/* line 6, ../../app/stylesheets/_app.scss */
a:hover {
  background-color: transparent;
}

/* line 10, ../../app/stylesheets/_app.scss */
.left-text {
  text-align: left;
}

/* line 14, ../../app/stylesheets/_app.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 18, ../../app/stylesheets/_app.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 22, ../../app/stylesheets/_app.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 26, ../../app/stylesheets/_app.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 29, ../../app/stylesheets/_app.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 33, ../../app/stylesheets/_app.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 37, ../../app/stylesheets/_app.scss */
.padding-5 {
  padding: 5px;
}

/* line 41, ../../app/stylesheets/_app.scss */
.padding-10 {
  padding: 10px;
}

/* line 45, ../../app/stylesheets/_app.scss */
#admin-property-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-property-names p {
  width: 390px;
}

/* line 51, ../../app/stylesheets/_app.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 54, ../../app/stylesheets/_app.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 58, ../../app/stylesheets/_app.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 63, ../../app/stylesheets/_app.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 66, ../../app/stylesheets/_app.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 70, ../../app/stylesheets/_app.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 75, ../../app/stylesheets/_app.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 81, ../../app/stylesheets/_app.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 84, ../../app/stylesheets/_app.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 87, ../../app/stylesheets/_app.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 90, ../../app/stylesheets/_app.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 94, ../../app/stylesheets/_app.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 98, ../../app/stylesheets/_app.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 102, ../../app/stylesheets/_app.scss */
textarea.height-20 {
  height: 2em;
}

/* line 106, ../../app/stylesheets/_app.scss */
textarea.height-30 {
  height: 3em;
}

/* line 109, ../../app/stylesheets/_app.scss */
textarea.height-40 {
  height: 4em;
}

/* line 113, ../../app/stylesheets/_app.scss */
textarea.height-50 {
  height: 5em;
}

/* line 117, ../../app/stylesheets/_app.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 123, ../../app/stylesheets/_app.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 135, ../../app/stylesheets/_app.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 142, ../../app/stylesheets/_app.scss */
li {
  list-style: none;
}

/* line 145, ../../app/stylesheets/_app.scss */
input.text, input.title, input[type="text"], input[type="password"] {
  background-color: white;
  margin: 0.15em 0;
  padding: 5px;
}

/* line 151, ../../app/stylesheets/_app.scss */
#content_wrapper {
  padding-top: 4px;
}

/* line 155, ../../app/stylesheets/_app.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 159, ../../app/stylesheets/_app.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 164, ../../app/stylesheets/_app.scss */
#right_side_panel {
  text-align: left;
}

/* line 170, ../../app/stylesheets/_app.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 174, ../../app/stylesheets/_app.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 2px #ddc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  background-color: #EED;
  cursor: pointer;
}

/* line 183, ../../app/stylesheets/_app.scss */
.variant_select {
  text-align: left;
}

/* line 187, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 190, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 195, ../../app/stylesheets/_app.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 201, ../../app/stylesheets/_app.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 209, ../../app/stylesheets/_app.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 217, ../../app/stylesheets/_app.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 221, ../../app/stylesheets/_app.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 230, ../../app/stylesheets/_app.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 234, ../../app/stylesheets/_app.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 243, ../../app/stylesheets/_app.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 252, ../../app/stylesheets/_app.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 261, ../../app/stylesheets/_app.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 270, ../../app/stylesheets/_app.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 276, ../../app/stylesheets/_app.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
