/* line 3, ../../app/stylesheets/_main_header.scss */
#header_wrapper {
  border-bottom: 1px solid #CCCCCC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
}
/* line 8, ../../app/stylesheets/_main_header.scss */
#header_wrapper ul, #header_wrapper ol {
  padding-left: 0em;
}
/* line 11, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  height: 59px;
}
/* line 15, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header .container {
  margin-left: auto;
  margin-right: auto;
}
/* line 19, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search {
  border-right: 1px solid #EEEEEE;
  display: inline;
  float: left;
  height: 29px;
  padding: 17px 15px 13px;
}
/* line 25, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header form.search.input-search {
  width: 230px;
}
/* line 29, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo {
  display: inline;
  float: left;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0px;
  border-right: 1px solid #CCCCCC;
  width: 224px;
  height: 100%;
}
/* line 40, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a {
  display: block;
  padding: 0px;
}
/* line 44, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #logo a span {
  -moz-box-orient: vertical;
  display: block;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  width: 160px;
}
/* line 55, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main {
  list-style-type: none;
  float: left;
  margin: 0;
  overflow: hidden;
}
/* line 61, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user {
  display: inline-block;
}
/* line 63, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div {
  display: inline-block;
  padding: 13px 9px;
  border-right: 1px solid #CCCCCC;
}
/* line 67, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div strong {
  color: #AA5555 !important;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
/* line 74, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 78, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li#menu-main-user div a {
  padding: 0px 0px;
  border-right: none;
}
/* line 85, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li {
  margin-left: 0;
  display: inline-block;
}
/* line 89, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a {
  display: inline-block;
  padding: 13px 7px;
  border-right: 1px solid #CCCCCC;
}
/* line 94, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a strong {
  color: #AA5555 !important;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}
/* line 101, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 106, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li a #menu-main-fund {
  margin-left: -1px;
}
/* line 110, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected {
  border-bottom: 1px solid #FFFFFF;
  border-color: #CCCCCC #CCCCCC #FFFFFF;
  z-index: 1;
}
/* line 115, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-main li.selected a {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 122, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  outline: 0 none;
  overflow: visible;
  padding: 0 0 0 8px;
}
/* line 131, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}
/* line 141, ../../app/stylesheets/_main_header.scss */
#header_wrapper #header #menu-sub li:first-child, #header_wrapper #header #menu-sub li.first {
  padding-left: 0;
}

/* line 148, ../../app/stylesheets/_main_header.scss */
.field.search {
  position: relative;
}
/* line 150, ../../app/stylesheets/_main_header.scss */
.field.search .icon-search {
  left: 8px;
  position: absolute;
  top: 5px;
}
/* line 155, ../../app/stylesheets/_main_header.scss */
.field.search input.text {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  behavior: url(border-radius.htc);
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  height: 14px !important;
  margin: 0;
  outline: medium none;
  padding: 4px 28px;
  vertical-align: top;
  width: 225px;
}

/* line 169, ../../app/stylesheets/_main_header.scss */
.icon-search {
  -moz-box-orient: vertical;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  vertical-align: middle;
  width: 14px;
}

/* line 180, ../../app/stylesheets/_main_header.scss */
a {
  color: #AA5555;
  text-decoration: none;
}

/* line 184, ../../app/stylesheets/_main_header.scss */
a:visited {
  color: #994444;
}

/* line 1, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 106%;
  height: 3em;
  border-bottom: 1px solid #ECECEC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
  text-align: left;
  padding-top: 10px;
  /*margin-top:50px;*/
}
/* line 13, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li {
  display: inline;
  list-style: none;
  color: #AA5555;
  padding: 3px;
}
/* line 18, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li a {
  color: #828282;
}
/* line 21, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li a:hover {
  color: #AA5555;
}
/* line 24, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li .selected {
  color: #AA5555 !important;
}
/* line 28, ../../app/stylesheets/_main_footer.scss */
#footer_wrapper li:hover {
  color: #AA5555;
}

/* line 32, ../../app/stylesheets/_main_footer.scss */
#footer_buffer {
  height: 0.8em;
}

/* line 3, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper {
  border-bottom: 1px solid #E6E6E6;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom white;
  text-align: left;
  color: #B2B2B2;
}
/* line 10, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header {
  font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  height: 59px;
}
/* line 14, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header .container {
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header form.search {
  border-right: 1px solid #EEEEEE;
  display: inline;
  float: left;
  height: 29px;
  padding: 17px 15px 13px;
}
/* line 24, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header form.search.input-search {
  width: 230px;
}
/* line 28, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #logo {
  display: inline;
  float: left;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0px;
  border-right: 1px solid #CCCCCC;
  width: 224px;
  height: 100%;
}
/* line 39, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #logo a {
  display: block;
  padding: 0px;
}
/* line 43, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #logo a span {
  -moz-box-orient: vertical;
  display: block;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  width: 160px;
}
/* line 54, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main {
  font-size: 0;
  list-style-type: none;
  float: left;
  margin: 0;
  overflow: hidden;
}
/* line 61, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li#menu-main-user {
  display: inline-block;
}
/* line 63, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li#menu-main-user div {
  display: inline-block;
  padding: 13px 9px;
  border-right: 1px solid #CCCCCC;
}
/* line 67, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li#menu-main-user div strong {
  color: #55A4F2 !important;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
/* line 74, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li#menu-main-user div span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 78, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li#menu-main-user div a {
  padding: 0px 0px;
  border-right: none;
}
/* line 85, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li {
  margin-left: 0;
  display: inline-block;
}
/* line 89, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li a {
  display: inline-block;
  padding: 13px 7px;
  border-right: 1px solid #CCCCCC;
}
/* line 94, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li a strong {
  color: #55A4F2 !important;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}
/* line 101, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li a span {
  color: #B2B2B2 !important;
  font-size: 12px;
}
/* line 106, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li a #menu-main-fund {
  margin-left: -1px;
}
/* line 110, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li.selected {
  border-bottom: 1px solid #FFFFFF;
  border-color: #CCCCCC #CCCCCC #FFFFFF;
  z-index: 1;
}
/* line 115, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-main li.selected a {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 122, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-sub {
  border: 0 none;
  display: inline;
  float: left;
  margin: 0;
  outline: 0 none;
  overflow: visible;
  padding: 0 0 0 8px;
}
/* line 131, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-sub li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}
/* line 141, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper #header #menu-sub li:first-child, #sub_header_wrapper #header #menu-sub li.first {
  padding-left: 0;
}
/* line 146, ../../app/stylesheets/_sub_header.scss */
#sub_header_wrapper ul, #sub_header_wrapper ol {
  margin: 0.3em 0 0.3em 0;
  padding-left: 0;
}

/* line 1, ../../app/stylesheets/_address_form.scss */
.main-address label {
  display: inline-block;
  width: 100px;
}

/* line 1, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs, #main-myaccount-tabs {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 106%;
}
/* line 7, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li, #main-myaccount-tabs li {
  display: inline;
  list-style: none;
  color: #AA5555;
  padding: 3px;
}
/* line 12, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li a, #main-myaccount-tabs li a {
  color: #828282;
}
/* line 15, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li a:hover, #main-myaccount-tabs li a:hover {
  color: #AA4444;
}
/* line 18, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li .selected, #main-myaccount-tabs li .selected {
  color: #AA4444 !important;
}
/* line 22, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs li:hover, #main-myaccount-tabs li:hover {
  color: #AA5555;
}

/* line 28, ../../app/stylesheets/_main_product_tabs.scss */
#main-product-type-tabs, #main-shopping-type-tabs {
  float: left;
  width: 450px;
}

/* line 34, ../../app/stylesheets/_main_product_tabs.scss */
#sub_header_wrapper #main-myaccount-tabs {
  float: right;
  width: 220px;
  text-align: right !important;
}

/* line 1, ../../app/stylesheets/_widget.scss */
.ar-widget {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: 1px #DDD solid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 8, ../../app/stylesheets/_widget.scss */
.ar-widget li {
  color: #666;
  font-family: HighTower,Georgia,serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: left;
}
/* line 15, ../../app/stylesheets/_widget.scss */
.ar-widget li a {
  color: #666 important;
}

/* line 1, ../../app/stylesheets/_app.scss */
html, body {
  height: 100%;
}

/* line 3, ../../app/stylesheets/_app.scss */
body #body_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

/* line 10, ../../app/stylesheets/_app.scss */
a {
  text-decoration: none;
}

/* line 14, ../../app/stylesheets/_app.scss */
a:hover {
  background-color: transparent;
}

/* line 18, ../../app/stylesheets/_app.scss */
.left-text {
  text-align: left;
}

/* line 22, ../../app/stylesheets/_app.scss */
.left-text-4 {
  text-align: left;
  padding-left: 4px;
}

/* line 26, ../../app/stylesheets/_app.scss */
.left-text-8 {
  text-align: left;
  padding-left: 8px;
}

/* line 30, ../../app/stylesheets/_app.scss */
.rounded-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url(border-radius.htc);
}

/* line 34, ../../app/stylesheets/_app.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 37, ../../app/stylesheets/_app.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 41, ../../app/stylesheets/_app.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 45, ../../app/stylesheets/_app.scss */
.padding-5 {
  padding: 5px;
}

/* line 49, ../../app/stylesheets/_app.scss */
.padding-10 {
  padding: 10px;
}

/* line 53, ../../app/stylesheets/_app.scss */
#admin-property-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-property-names p {
  width: 390px;
}

/* line 59, ../../app/stylesheets/_app.scss */
#admin_properties_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 62, ../../app/stylesheets/_app.scss */
#admin_properties_grid_wrapper {
  width: 710px;
}

/* line 66, ../../app/stylesheets/_app.scss */
#admin_new_property_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_property_button {
  overflow-x: hidden;
}

/* line 71, ../../app/stylesheets/_app.scss */
#admin_product_types_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 74, ../../app/stylesheets/_app.scss */
#admin_product_types_grid_wrapper {
  width: 710px;
}

/* line 78, ../../app/stylesheets/_app.scss */
#admin_new_product_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_product_type_button {
  overflow-x: hidden;
}

/* line 83, ../../app/stylesheets/_app.scss */
#admin-product_type-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-product_type-names p {
  width: 390px;
}

/* line 89, ../../app/stylesheets/_app.scss */
#admin_prototypes_page_wrapper {
  width: 950px;
  margin-right: 0;
}

/* line 92, ../../app/stylesheets/_app.scss */
#admin_prototypes_grid_wrapper {
  width: 710px;
}

/* line 95, ../../app/stylesheets/_app.scss */
#admin_new_prototype_type_button {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-right: 0;
}
/* line 138, ../../app/stylesheets/blueprint/_grid.scss */
* html #admin_new_prototype_type_button {
  overflow-x: hidden;
}

/* line 98, ../../app/stylesheets/_app.scss */
#admin-prototype-names {
  width: 390px;
}
/* line 54, ../../app/stylesheets/_app_mixins.scss */
#admin-prototype-names p {
  width: 390px;
}

/* line 102, ../../app/stylesheets/_app.scss */
.property_form {
  display: inline;
  text-align: left;
}

/* line 106, ../../app/stylesheets/_app.scss */
.roman-list li {
  list-style: upper-roman;
}

/* line 110, ../../app/stylesheets/_app.scss */
textarea.height-20 {
  height: 2em;
}

/* line 114, ../../app/stylesheets/_app.scss */
textarea.height-30 {
  height: 3em;
}

/* line 117, ../../app/stylesheets/_app.scss */
textarea.height-40 {
  height: 4em;
}

/* line 121, ../../app/stylesheets/_app.scss */
textarea.height-50 {
  height: 5em;
}

/* line 125, ../../app/stylesheets/_app.scss */
.selectlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 131, ../../app/stylesheets/_app.scss */
.selectlist-item {
  background: white url(../images/cross-circle.png) no-repeat right center;
  border-left: solid 1px #eee;
  border-top: solid 1px #eee;
  border-right: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  cursor: pointer;
  padding: 0.2em 0.3em;
  margin: 1px 0;
}

/* line 143, ../../app/stylesheets/_app.scss */
#admin-product-names {
  margin: 0  0  0.5em;
  padding: 0.3em;
}

/* line 150, ../../app/stylesheets/_app.scss */
li {
  list-style: none;
}

/* line 155, ../../app/stylesheets/_app.scss */
.width-list li {
  clear: both;
  text-align: left;
}

/* line 161, ../../app/stylesheets/_app.scss */
.space-list-40 li {
  padding-bottom: 40px;
}

/* line 166, ../../app/stylesheets/_app.scss */
input.text, input.title, input[type="text"], input[type="password"], input[type="email"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  margin: 0.15em 0;
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  height: 16px;
  font-size: 13px;
  padding: 6px 5px;
}

/* line 176, ../../app/stylesheets/_app.scss */
#content_wrapper {
  padding-top: 7px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  padding-bottom: 3em;
}

/* line 182, ../../app/stylesheets/_app.scss */
.flash_error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_error a {
  color: #8a1f11;
}

/* line 186, ../../app/stylesheets/_app.scss */
.flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../app/stylesheets/blueprint/_interaction.scss */
.flash_notice a {
  color: #514721;
}

/* line 191, ../../app/stylesheets/_app.scss */
#right_side_panel {
  text-align: left;
}

/* line 197, ../../app/stylesheets/_app.scss */
#submit_add_to_cart {
  cursor: pointer;
}

/* line 201, ../../app/stylesheets/_app.scss */
.variant_border {
  padding: 3px;
  margin-bottom: 3px;
  border: solid 1px #DD8888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  background-color: #FFF;
  cursor: pointer;
}

/* line 210, ../../app/stylesheets/_app.scss */
.variant_select {
  text-align: left;
}

/* line 214, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table {
  margin: 0;
}

/* line 217, ../../app/stylesheets/_app.scss */
.ui-datepicker-calendar table th, .ui-datepicker-calendar table td {
  padding: 0;
  text-align: center;
}

/* line 222, ../../app/stylesheets/_app.scss */
.individual-cart-item {
  border-bottom: solid 1px #dcd;
}

/* line 228, ../../app/stylesheets/_app.scss */
.line_items_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}

/* line 235, ../../app/stylesheets/_app.scss */
.box.selected {
  background-color: #f0fff8;
}

/* line 238, ../../app/stylesheets/_app.scss */
.line_item_green {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

/* line 246, ../../app/stylesheets/_app.scss */
.line_item_green:hover {
  background-color: #e0ffe8;
}

/* line 250, ../../app/stylesheets/_app.scss */
.line_item_red {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align: left;
}

/* line 259, ../../app/stylesheets/_app.scss */
.line_item_red:hover {
  background-color: #ffe0e8;
}

/* line 263, ../../app/stylesheets/_app.scss */
.line_item_blue {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align: left;
}

/* line 272, ../../app/stylesheets/_app.scss */
.line_item_yellow {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align: left;
}

/* line 281, ../../app/stylesheets/_app.scss */
.line_item_light_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align: left;
}

/* line 290, ../../app/stylesheets/_app.scss */
.line_item_gray {
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
  border: solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align: left;
}

/* line 299, ../../app/stylesheets/_app.scss */
.dkBlueBox {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
  border: solid #AED2EE 0.5px;
}

/* line 304, ../../app/stylesheets/_app.scss */
.innerBox {
  padding: 8px;
}

/* line 307, ../../app/stylesheets/_app.scss */
.top_border td {
  border-top: solid 2px #ddd;
}

/* line 313, ../../app/stylesheets/_app.scss */
button.ui-button {
  text-shadow: 0 0 0 #000;
}
