/*
Syntax error: Invalid CSS after "...ksprite/sprite'": expected selector or at-rule, was "#header_wrapper {"
        on line 17 of /Users/davidhenner/projects/ror_ecommerce/app/stylesheets/main.scss

12: 
13: //@import 'plugins/silksprite/sprite'
14: 
15: 
16: 
17: #header_wrapper {
18:   @include span(24);
19:   @include last;
20:   
21:   //background-image: url(../../images/logos/hadean_wide.png);
22:   background-color: #57B;

Backtrace:
/Users/davidhenner/projects/ror_ecommerce/app/stylesheets/main.scss:17
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/scss/parser.rb:838:in `expected'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/scss/parser.rb:813:in `expected'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/scss/parser.rb:27:in `parse'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/engine.rb:213:in `_to_tree'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/engine.rb:179:in `block in to_tree'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/engine.rb:179:in `to_tree'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/files.rb:44:in `tree_for'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `each'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `each'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/haml-3.0.24/lib/sass/plugin/rack.rb:40:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/davidhenner/.rvm/gems/ruby-1.9.2-p0@my_app/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/davidhenner/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/davidhenner/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/davidhenner/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ksprite/sprite'\": expected selector or at-rule, was \"#header_wrapper {\"\A         on line 17 of /Users/davidhenner/projects/ror_ecommerce/app/stylesheets/main.scss\A \A 12: \A 13: //@import 'plugins/silksprite/sprite'\A 14: \A 15: \A 16: \A 17: #header_wrapper {\A 18:   @include span(24);\A 19:   @include last;\A 20:   \A 21:   //background-image: url(../../images/logos/hadean_wide.png);\A 22:   background-color: #57B;"; }
