/* line 4, ../../app/stylesheets/print.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 46, ../../app/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 48, ../../app/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 56, ../../app/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 59, ../../app/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 61, ../../app/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 66, ../../app/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 69, ../../app/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  font-weight: 700;
  text-decoration: none;
}
/* line 73, ../../app/stylesheets/blueprint/_print.scss */
body.bp p img.top {
  margin-top: 0;
}
/* line 75, ../../app/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 80, ../../app/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 82, ../../app/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 84, ../../app/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 86, ../../app/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}
