/* line 2, ../../app/stylesheets/products_page.scss */
ol#interesting_items-list {
  text-align: left;
  padding-left: 0px;
}
/* line 6, ../../app/stylesheets/products_page.scss */
ol#interesting_items-list li {
  padding: 12px;
  display: inline-block;
  border-right: 1px solid #DFDFDF;
  height: 100%;
}
/* line 12, ../../app/stylesheets/products_page.scss */
ol#interesting_items-list li .interesting_items-details {
  text-align: center;
}
/* line 15, ../../app/stylesheets/products_page.scss */
ol#interesting_items-list li .interesting_items-image {
  height: 85px;
}

/* line 21, ../../app/stylesheets/products_page.scss */
div {
  color: #3F3D42;
}
/* line 23, ../../app/stylesheets/products_page.scss */
div #featured_description {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  font-size: 22px;
  color: #5F5D62;
}

/* line 30, ../../app/stylesheets/products_page.scss */
#featured_image {
  padding-bottom: 7px;
}
