/* line 1, ../../app/stylesheets/signup.scss */
body {
  background: #F4F4F4;
}

/* line 5, ../../app/stylesheets/signup.scss */
#register-wrapper, #login-wrapper {
  padding-top: 26px;
}

/* line 9, ../../app/stylesheets/signup.scss */
div #signup {
  margin-right: 20px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 3px solid #E6E6E6;
}

/* line 15, ../../app/stylesheets/signup.scss */
div #signup, div #login {
  text-align: left;
  padding: 17px;
  display: inline;
  float: left;
  width: 280px;
}
/* line 23, ../../app/stylesheets/signup.scss */
div #signup fieldset, div #login fieldset {
  border: none;
  padding: 0px;
}
/* line 27, ../../app/stylesheets/signup.scss */
div #signup ol, div #signup ul, div #login ol, div #login ul {
  padding: 0;
}
/* line 30, ../../app/stylesheets/signup.scss */
div #signup p, div #login p {
  color: #999999;
  font-size: 13px;
}
/* line 34, ../../app/stylesheets/signup.scss */
div #signup h3, div #login h3 {
  margin-bottom: 5px;
}

/* line 39, ../../app/stylesheets/signup.scss */
label {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

/* line 46, ../../app/stylesheets/signup.scss */
input.text, input.title, input[type="text"], input[type="password"] {
  margin-bottom: 10px;
  width: 208px;
  background: -moz-linear-gradient(center top, #e6e6e6 0%, white 100%) repeat-x scroll center top white;
  border: 1px solid #CCCCCC;
  height: 16px;
  font-size: 13px;
  padding: 6px 5px;
}
