<div class="page-header">
  <div>
    <h1 class="page-title">New Deal</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @deal, url: admin_generic_deals_path(@deal) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="form-group d-flex gap-2">
        <%= f.submit 'Create', class: "btn btn-primary" %>
        <%= link_to "Back to List", admin_generic_deals_path, class: "btn btn-outline btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
