<%= error_messages_for 'supplier' %>

<ul id="admin-supplier-names" class='large-5'>
  <li>
    <label>Name</label>
    <%= form.text_field :name %>
  </li>
  <li>
    <label>Email</label>
    <%= form.text_field :email %>
  </li>
</ul>
