<%= error_messages_for 'supplier' %>
  
<fieldset id="admin-supplier-names" class='span-12'>
  <label>Name</label>
  <%= form.text_field :name %>

  <label>Email</label>
  <%= form.text_field :email %>
</fieldset>