<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Edit Property</h3>

<%= form_for @property, url: admin_merchandise_property_path(@property),
                        html: { class: 'prepend-6' } do |form| %>
  <%= render partial: '/admin/merchandise/properties/form', locals: { form: form } %>
  <div class=" generic_submit_button">
    <%= submit_tag "Update", class: "button", id: "update_property_button" %>
  </div>
<% end %>
