<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">New Property</h1>
</div>

<p class="mb-4">
  An "Identifing name" is like 'shirt-color'.<br/>
  However "Display name" is what you will display to the customer for the given property. In this case 'color'.
</p>

<div class="card">
  <div class="card-body">
    <%= form_for @property, url: admin_merchandise_properties_path do |form| %>
      <%= render partial: '/admin/merchandise/properties/form', locals: { form: form } %>
      <div class="form-group">
        <%= submit_tag "Create", class: "btn btn-primary", id: "create_property_button" %>
      </div>
    <% end %>
  </div>
</div>
