<%= render partial: '/admin/merchandise/sub_header'%>

<h3>New Property</h3>

<p>
  An "Identifing name" is like 'shirt-color'.<br/>
  However "Display name" is what you will display to the customer for the given property.  In this case 'color'.
</p>

<%= form_for @property, :url  => admin_merchandise_properties_path do |form| %>
  <%= render partial: '/admin/merchandise/properties/form', locals: { form: form } %>
  <div class=" generic_submit_button">
    <%= submit_tag "Create", class: "button", id: "create_property_button" %>
  </div>
<% end %>
