<%
loop_footer_tabs = {
  'Terms & Conditions'  => terms_path,
  'About'               => about_path#,
  #'Customer Service'    => faq_customer_service_path
}
%>



<div id="footer_wrapper" class='bp'>
  <div class="container" id="footer">
    <ul id='main-footer-tabs'>
      <% loop_footer_tabs.each_pair do |tab_name, tab_path| %>
        <li> <%= link_to_unless_current tab_name, tab_path %> </li> <%= '|' unless tab_name == 'Customer Service' %>
      <% end %>
    </ul>
  </div>
</div>