/ Uncomment to make IE8 render like IE7
/ <meta http-equiv="X-UA-Compatible" content="IE=7" />
/ Set the viewport width to device width for mobile
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:charset => "utf-8"}/
- if content_for?(:metadata)
  = yield :metadata
- else
  %meta{:content => I18n.t(:meta_keywords), :name => "keywords"}/
  %meta{:content => I18n.t(:meta_description), :name => "description"}/
