<div class='nine large-9 columns'>
  <h3> Edit Address </h3>

  <%= form_for(@form_address, :url => myaccount_address_path(@form_address), html: {class: 'custom'}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>

</div>
