<div class='nine columns'>
  <h3> New Address </h3>

  <%= form_for(@address, :url => myaccount_addresses_path(@address)) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
  <div class=''>
    <%= link_to 'Back to List', myaccount_addresses_path, :class => 'secondary small button  ' %>
  </div>
</div>
