<div class='nine large-9 columns'>
  <h3> Address </h3>

  <p>
    <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => @address } %>
  </p>

  <p>
    <%= link_to "Edit", edit_myaccount_address_path(@address), :class => 'button ar-small-black-button' %> |
    <%= link_to "Destroy", myaccount_address_path(@address), :data => { :confirm => 'Are you sure?'}, :method => :delete, :class => 'button' %> |
    <%= link_to "View All", myaccount_addresses_path, :class => 'button ar-small-black-button' %>
  </p>
</div>
