<div class="page-header">
  <div>
    <h1 class="page-title">Editing credit_card</h1>
  </div>
  <div class="page-actions">
    <%= link_to "Back to #{truncate(session_admin_cart.customer&.name || 'Customer', length: 35)}'s Cart", admin_shopping_products_path, class: 'btn btn-outline btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= render 'form' %>
    <div class="d-flex gap-2 mt-3">
      <%= link_to 'Show', admin_shopping_checkout_credit_card_path(@credit_card), class: 'btn btn-outline btn-sm' %>
      <%= link_to 'Back', admin_shopping_checkout_credit_cards_path, class: 'btn btn-outline btn-sm' %>
    </div>
  </div>
</div>
