// HEADER DIVs includes search , cart button, wish button

#header_wrapper {

  border-bottom: 1px solid #CCCCCC;
  background: url("../../images/header/bg-header-wrap.png") repeat-x scroll center bottom #FFFFFF;

  #header {
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
    height:      59px;

    .container {
      margin-left: auto;
      margin-right: auto;
    }
    form.search {
      border-right: 1px solid #EEEEEE;
      display: inline;
      float:left;
      height: 29px;
      padding: 17px 15px 13px;
      &.input-search {
        width:230px;
      }
    }
    #logo {
      display: inline;
      float: left;
      font-size: 24px;
      margin-bottom: 0;
      margin-left: 3px;
      border-right: 1px solid #CCCCCC;
      width: 220px;
      height: 100%;

      a {
        display: block;
        padding: 13px 15px;

        span {
          -moz-box-orient: vertical;
          // logo sprite
          display: block;
          height: 20px;
          text-align: left;
          vertical-align: middle;
          width: 160px
        }
      }
    }
    #menu-main {
      font-size: 0;
      list-style-type:none;
      float: left;
      margin: 0;
      overflow: hidden;

      li {
        margin-left: 0;
        display:inline;

        a {
          display: inline-block;
          padding: 13px 15px;
          border-right: 1px solid #CCCCCC;

          strong {
            color: #55A4F2 !important;
            display: block;
            font-size: 15px;
            font-weight: bold;
            line-height: 15px;
          }
          span {
            color: #B2B2B2 !important;
            font-size: 12px;
          }

          #menu-main-fund {
            margin-left: -1px;
          }
        }
        &.selected {
          border-bottom: 1px solid #FFFFFF;
          border-color: #CCCCCC #CCCCCC #FFFFFF;
          z-index: 1;

          a {
            background: none repeat scroll 0 0 #FFFFFF;
          }
        }
      }
    }

    #menu-sub {
      border: 0 none;
      display: inline;
      float: left;
      margin: 0;
      outline: 0 none;
      overflow: visible;
      padding: 0 0 0 8px;

      li {
        display: inline;
        float: left;
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
      }
      li:first-child, li.first {
        padding-left: 0;
      }
    }
  }
}

.field.search {
  position: relative;
  .icon-search {
    left: 8px;
    position: absolute;
    top: 5px;
  }
  input.text {
    @include rounded(11px);
    background: -moz-linear-gradient(center top , #E6E6E6 0%, #FFFFFF 100%) repeat-x scroll center top #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    height: 14px !important;
    margin: 0;
    outline: medium none;
    padding: 4px 28px;
    vertical-align: top;
    width: 225px;
  }
}

.icon-search {
  -moz-box-orient: vertical;
  // ADD SPRITE IMAGE HERE
  display: inline-block;
  height: 14px;
  overflow: hidden;
  vertical-align: middle;
  width: 14px;

}

a {
  color: #55A4F2;
  text-decoration: none;
}
a:visited {
  color: #4484D2;
}