@import "compass/utilities/general/clearfix";

@import "themes/default";
@import "themes/drastic-dark";

@mixin web-app-theme {
  * {margin:0;padding:0}
  .clear { clear: both; height: 0; }

  h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
  h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
  h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
  h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
  hr {height: 1px; border: 0; }
  p { margin: 15px 0;}
  a img { border: none; }

  body {
    font-size: 12px;
    font-family: sans-serif;
  }

  #container {
    min-width: 960px;
  }

  #header, #wrapper {
    padding: 0 20px;
  }

  #header {
    position: relative;
    padding-top: 1px;

    h1 {
      margin: 0;
      padding: 10px 0;
      font-size: 26px;

      a:link, a:active, a:hover, a:visited {
        text-decoration: none;
      }
    }
  }

  #main {
    width: 70%;
    float: left;

    .block {
      margin-bottom: 20px;
      padding-top: 1px;
    }

    .block .content .inner {
      padding: 0 15px 15px;
    }

    .main p:first-child {
      margin-top: 0;
    }
  }

  .actions-bar {
    @include clearfix;

    padding: 10px 1px;

    .actions {
      float: left;
    }

    .pagination {
      float: right;
      padding: 1px 0;
    }
  }


  #sidebar {
    width: 25%;
    float: right;

    h3 {
      padding: 10px 15px;
      margin: 0;
      font-size: 13px;
    }

    .block {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    .block .content {
      padding: 0 15px;
    }

    ul.navigation li a:link, ul.navigation li a:visited {
      display: block;
      padding: 10px 15px;
    }

    .block .sidebar-block, .notice {
      padding:10px;
    }
  }


  #wrapper {
    padding-top: 20px;
  }

  #user-navigation {
    position: absolute;
    top: 0px;
    right: 20px;

    ul li {
      padding: 5px 10px;
    }
  }

  #main-navigation {
    @include clearfix;

    width: 100%;

    ul li {
      margin-right: 5px;

      a {
        font-size: 14px;
        line-height: 14px;
        display: block;
        padding: 8px 15px;
      }
    }
  }


  #user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
    float: left;
  }


  #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
  .secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
  #user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
    text-decoration: none;
  }


  .secondary-navigation {
    font-size: 13px;
    border-bottom-width: 10px;
    border-bottom-style: solid;

    ul {
      @include clearfix;

      li a {
        display: block;
        padding: 10px 15px;
      }
    }
  }


  #footer {
    padding-bottom: 20px;
  }

  /* pagination */

  .pagination {
    a, span, em {
      padding: 2px 5px;
      margin-right: 5px;
      display: block;
      float: left;
      border-style: solid;
      border-width: 1px;
    }

    em {
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }
  }

  /* tables */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

    th {
      padding: 10px;
      font-weight: bold;
      text-align: left;
    }

    th:first-child {
      width: 30px;
    }

    th:last-child {
      width: 200px;
    }

    .checkbox {
      margin-left: 10px;
    }

    td {
      padding: 10px;
    }

    td:last-child {
      text-align: right;
    }
  }

  /* forms */

  input[type=checkbox] {
    margin: 0;
    padding: 0;
  }


  form {
    &> div {
      margin-bottom: 15px;
    }

    div.left {
      width: 20%;
      float: left;
    }

    div.right {
      width: 75%;
      float: right;
    }

    .columns {
      .column {
        width: 48%;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
      }
    }

    label, input[type=text], input[type=password], input[type=number], input[type=email], textarea {
      font-size: 1.2em;
      padding: 1px 0;
      margin: 0;
    }

    label.right {
      text-align: right;
    }

    input[type=checkbox], input[type=radio] {
      margin-right: 5px;
    }

    label.checkbox, label.radio {
      line-height: 1.5em;
    }

    label {
      display: block;
      padding-bottom: 2px;
      font-weight: bold;
    }

    div.fieldWithErrors label {
      display: inline;
    }

    .fieldWithErrors .error {
      color: red;
    }

    input[type=text], input[type=password], input[type=number], input[type=email], textarea {
      width: 100%;
      border-width: 1px;
      border-style: solid;
    }
  }

  /* lists */

  ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      clear: left;
      padding-bottom: 5px;

      .left {
        float: left;

        .avatar {
          width: 50px;
          height: 50px;
        }
      }

      .item {
        margin-left: 80px;

        .avatar {
          float: left;
          margin: 0 5px 5px 0;
          width: 30px;
          height: 30px;
        }
      }
    }
  }


  /* box */

  #box {
    width: 500px;
    margin: 50px auto;

    .block {
      margin-bottom: 20px;

      h2 {
        padding: 10px 15px;
        margin: 0;
      }

      .content {
        padding: 10px 20px;
      }
    }
  }


  /*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

  a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
    color: #222;
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color: #eee;
    border:1px solid #bfbfbf;
    font-size: 1em;
    line-height: 1.3em;
    font-weight:bold;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    text-decoration: none;
  }

  button.button {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
  }

  button.button[type] {
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
  }

  *:first-child+html button.button[type] {
    padding:4px 10px 3px 7px; /* IE7 */
  }

  button.button img, a.button img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
  }

  button.button:hover, a.button:hover {
    background-color:#dedede;
  }

  button.button:active, a.button:active {
    background-color:#e5e5e5;
  }

  .navbuttons {
    @include clearfix;
  }
}
