@import "css3_buttons";
//@import "app_mixins";

.items-wrapper {
  font-size:135%;
  font-weight:bold;
  color:#3A3A3A;
  a {
    color:#3A3A8A;
  }
}
.tiny {
  font-size:11px;
}

th, td, caption {
  vertical-align:top;
}

#update-cart-wrapper div {
  display:inline;
}

#update-cart-wrapper span {
  display:inline;
  float:left;
  text-align:right;
}