<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>


<div id='left_side_panel' class='span-6 last'>
&nbsp;
</div>

<div id='featured_item' class='span-18 last'>
  <%= image_tag 'home.png' %>
</div>

