<h3>Inventory Adjustments</h3>

<div class="admin_adjustments">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
    </tr>
    </thead>
    <% for product in @products %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to product.name, admin_inventory_adjustment_path(product) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>
