<%= render :partial => '/admin/inventory/sub_header'%>

<h1> Adjustments </h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "Show", admin_inventory_adjustment_path(product) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @products %>

