<div class="help_header">
  <h3 class="title">RoR Ecommerce</h3>
  <div class="version">
    <span>v<%= RoReCommerce::Version %></span>
    <small><%= RoReCommerce::Revision %></small>
  </div>
</div>

<hr>
<h5>Self Hosted Ecommerce</h5>
<hr>

<ol>
  <li>123</li>
  <li>123</li>
</ol>
