<div class="page-header">
  <div>
    <h1 class="page-title">Help</h1>
    <p class="page-subtitle">RoR Ecommerce v<%= RoReCommerce::Version %> <span class="text-muted text-sm"><%= RoReCommerce::Revision %></span></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3>Self Hosted Ecommerce</h3>
    <hr>
    <ol style="padding-left:20px;list-style:decimal">
      <li class="mb-2">123</li>
      <li class="mb-2">123</li>
    </ol>
  </div>
</div>
