<h1> Edit Brand </h1>

<%= form_for(@brand, :url => admin_merchandise_brand_path(@brand)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Show', admin_merchandise_brand_path( @brand ), :class => 'button' %> |
  <%= link_to 'View All', admin_merchandise_brands_path, :class => 'button' %>
