<%= render :partial => '/admin/merchandise/sub_header'%>

<h1> New Brand" </h1>

<%= form_for(@brand, :url => admin_merchandise_brands_path(@brand)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_merchandise_brands_path, :class => 'button' %>
