<div class="page-header">
  <div>
    <h1 class="page-title"><%= customer.name.possessive %> Store Credits</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <ul>
      <li>
        <label>Amount:</label>
        <%= number_to_currency customer.store_credit_amount %>
      </li>
    </ul>
    <div class="mt-3">
      <%= link_to "Edit", edit_admin_user_datas_user_store_credits_path(customer), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
