<fieldset>
  <label>Name</label>
  <%= form.text_field :name %>

  <label>Active</label>
  <%= form.check_box :active %>
</fieldset>

<fieldset>
  <legend>Properties</legend>
  <div id="prototype_properties">
    <%= render partial: "property_form", locals: { form: form } %>
  </div>
</fieldset>
