<%= render :partial => '/admin/merchandise/sub_header'%>

<h2>New Prototype</h2>

<%= simple_form_for @prototype, :url  => admin_merchandise_prototypes_path,
                        :html => {:class => 'prepend-6'}  do |form| %>
  <%= render :partial => '/admin/merchandise/prototypes/form', :locals => {:form => form}%>

  <div class=" generic_submit_button">
    <%= submit_tag "Create",
                    :class  => "button",
                    :id     => "create_prototype_button" %>
  </div>
<% end %>