<% if defined?(@order) && @order %>
  <div class="admin-sub-header">
    <%= link_to 'Order Info', admin_history_order_path(@order) %>
    <%= link_to 'All RMAs for this Order', admin_rma_order_return_authorizations_path(@order), class: 'ms-2' %>
  </div>
<% end %>
