<h3>Editing Shipping Rate</h3>

<%= form_for(@shipping_rate, url: admin_config_shipping_rate_path(@shipping_rate)) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>

<%= link_to 'Show', admin_config_shipping_rate_path(@shipping_rate), class: 'button' %>
<%= link_to 'Back', admin_config_shipping_rates_path, class: 'button' %>
