<h3>Editing Shipping Rate</h3>

<%= form_for(@shipping_rate, :url => admin_config_shipping_rate_path(@shipping_rate)) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
  <%= f.submit t("button_save"), :class => "button" %>
  <%= link_to t("button_back"), admin_config_shipping_rates_path, :class => "secondary button" %>
<% end %>

