<div class="page-header">
  <h1 class="page-title">Editing Shipping Rate</h1>
  <div class="page-actions">
    <%= link_to 'Show', admin_config_shipping_rate_path(@shipping_rate), class: 'btn btn-outline' %>
    <%= link_to 'Back', admin_config_shipping_rates_path, class: 'btn btn-outline' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for(@shipping_rate, url: admin_config_shipping_rate_path(@shipping_rate)) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
