<h1> Edit Coupon </h1>

<%= form_for(@coupon, :as => :coupon, :url => admin_generic_coupon_path(@coupon)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Show', admin_generic_coupon_path( @coupon ), :class => 'button secondary' %>
  <%= link_to 'View All', admin_generic_coupons_path, :class => 'button secondary' %>
