<div class="page-header">
  <div>
    <h1 class="page-title">New Coupon</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for(@coupon, :as => :coupon, :url => admin_generic_coupons_path(@coupon)) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
    <%= link_to "Back to List", admin_generic_coupons_path, class: "btn btn-outline btn-sm mt-3" %>
  </div>
</div>
