<h1> New Coupon </h1>

<%= simple_form_for(@coupon, :url => admin_generic_coupons_path(@coupon), :as => :coupon) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back to List', admin_generic_coupons_path, :class => 'button' %>
