<h3>New Coupon</h3>

<%= form_for(@coupon, :as => :coupon, :url => admin_generic_coupons_path(@coupon)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to "Back to List", admin_generic_coupons_path, class: "button secondary" %>
