// RoR eCommerce Admin Styles

.flash_messages
	margin-top: 20px

.sidebar
	margin-top: 20px
	.button
		margin-bottom: 20px



.admin_users, .admin_products, .history_orders, .admin_properties, .admin_product_types, .admin_prototypes, .admin_brands, .admin_inventory_overviews, .admin_suppliers, .admin_purchase_orders, .admin_adjustments, .admin_accounts, .admin_shipping_zones, .admin_shipping_methods, .admin_shipping_rates, .admin_tax_rates, .admin_tax_categories, .admin_shipping_categories, .admin_coupons, .admin_deals, .admin_shipping_orders, .admin_invoices, .admin_shipments
	table
		width: 100%