// RoR eCommerce Admin Styles

.flash_messages
  margin-top: 20px

.sidebar
  margin-top: 20px
  .button
    margin-bottom: 20px



table
  width: 100%

.clearfix:before, .clearfix:after
  content: ""
  display: table
.clearfix:after
  clear: both
.clearfix
  zoom: 1

#admin-product-names
  label
    font-weight: bold
.admin_main_content
  label
    font-weight: bold
.red-button
  background: none repeat scroll 0 0 #CB2B16
  border: 1px solid #8C1E12
  &:hover
    background: none repeat scroll 0 0 #A12214
    border: 1px solid #8C1E12

body
  text-align:left
  ul, ol
    list-style: none
// admin filters
body
  .admin_filters
    text-align:left
    ul, ol
      list-style: none
      padding-left: 0.5em
    label
      display:block
    .search_boxes input
      width: 202px
.auto_width
  width: auto
.date-select
  select
    width: auto
.admin_h3_index_header
  display: inline-block
  width: 100%
  .admin_h3_index_header_buttons
    text-align: right
    float: right


.help_header
  height: 58px
  .title
    float: left
  .version
    float: right
    margin: 20px 0
    span
      font-size: 21px
    small
      font-size: 14px




