// RoR eCommerce Admin Styles

.flash_messages
	margin-top: 20px

.sidebar
	margin-top: 20px
	.button
		margin-bottom: 20px



.admin_users, .admin_products, .history_orders, .admin_properties
	table
		width: 100%