# You can use this to store API keys, mail server settings, 
# or any other kind of configuration data that your application needs.
# In order to keep your production settings secret, store the production 
# copy of this file on your server under shared/config/config.yml and copy 
# it on deployment with this Capistrano task:#

# task :copy_config_files do
#   filename = "config/config.yml"
#   run "cp #{shared_path}/#{filename} #{release_path}/#{filename}"
# end
# after "deploy:update_code", :copy_config_files

development: &non_production_settings
  encryption_key: someRandomBINARYKEY
  mailer:
    server: mail.example.com
    username: someLOGIN
    password: s0meth1ngs3cr3t
  paypal:
    ip:         192.168.0.1
    login:      someLOGIN.yahoo.com
    password:   somePASSWORD
    signature:  someSIGNATURE
  authnet:
    login:      someLOGIN
    password:   somePASSWORD
    
test:
  <<: *non_production_settings
production:
  encryption_key: someRandomBINARYKEY
  mailer:
    server: mail.example.com
    username: someLOGIN
    password: somePASSOWRD
  paypal:
    ip:         192.168.0.1
    login:      someLOGIN.yahoo.com
    password:   somePASSWORD
    signature:  someSIGNATURE
  authnet:
    login:      someLOGIN
    password:   somePASSWORD