<div class='nine large-9 columns'>
  <h3> Edit Credit Card </h3>

  <%= form_for(@credit_card, :url => myaccount_credit_card_path(@credit_card)) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>

  <%= link_to 'Show', myaccount_credit_card_path( @credit_card ), :class => 'button' %> |
  <%= link_to 'View All', myaccount_credit_cards_path, :class => 'button' %>
</div>
