.nine.large-9.columns
  %h3 New Credit Card
  = form_for(@credit_card, :url => myaccount_credit_cards_path(@credit_card)) do |f|
    = render :partial => 'form', :locals => {:f => f}
  = link_to 'Back to List', myaccount_credit_cards_path, :class => 'button'
