<div class="page-header">
  <h1 class="page-title">Shipping Methods</h1>
  <div class="page-actions">
    <%= link_to "New Shipping Method", new_admin_config_shipping_method_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Zone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @shipping_methods.each do |shipping_method| %>
            <tr>
              <td><%= shipping_method.name %></td>
              <td><%= shipping_method.shipping_zone.name %></td>
              <td><%= link_to "Edit", edit_admin_config_shipping_method_path(shipping_method), class: 'btn btn-sm btn-outline' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
