<div class="page-header">
  <h1 class="page-title">New Shipping Method</h1>
  <div class="page-actions">
    <%= link_to 'Back', admin_config_shipping_methods_path, class: 'btn btn-outline' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p class="mb-4">An example Shipping Method could be "UPS 3-5 day"</p>

    <%= form_for(@shipping_method, url: admin_config_shipping_methods_path) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
