<div class="page-header">
  <div>
    <h1 class="page-title">Listing credit_cards</h1>
  </div>
  <div class="page-actions">
    <%= link_to 'New Credit card', new_admin_shopping_credit_card_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @credit_cards.each do |credit_card| %>
          <tr>
            <td><%= link_to 'Show', admin_shopping_credit_card_path(credit_card) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
