<h1>Listing credit_cards</h1>

<table class='hover'>
  <tr>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= link_to 'Show', admin_shopping_credit_card credit_card %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_admin_shopping_credit_card_path %>
