<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <div class="d-flex gap-2">
      <%= link_to 'Edit', edit_admin_shopping_credit_card_path(@credit_card), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Back', admin_shopping_credit_cards_path, class: 'btn btn-outline btn-sm' %>
    </div>
  </div>
</div>
