<h3>New account</h3>

<%= form_for( @account, :url => admin_config_accounts_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit t("button_create"), :class => "button" %>
  <%= link_to t("button_back"), admin_config_accounts_path, :class => 'secondary button' %>
<% end %>

