<%= render :partial => '/admin/config/sub_header'%>
<h1>New account</h1>


<%= semantic_form_for( @account, :as => :account, :url => admin_config_accounts_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to 'Back', accounts_path %>
