<div class="page-header">
  <div>
    <h1 class="page-title">Weekly Charts</h1>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Sales</h3>
  </div>
  <div class="card-body">
    <%= tag.div nil, data: { controller: "chart", chart_data_value: @sales_chart_data }, style: "height: 250px;" %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Earnings</h3>
  </div>
  <div class="card-body">
    <%= tag.div nil, data: { controller: "chart", chart_data_value: @earnings_chart_data }, style: "height: 250px;" %>
  </div>
</div>
