- content_for :head do
  = javascript_include_tag 'admin/reports/weekly_chart'
%h2 Weekly Charts
%h3 Sales
#weekly-sales-graph{:style => "height: 250px;"}
%h3 Earnings
#weekly-earnings-graph{:style => "height: 250px;"}
