<% content_for :head do -%>
  <%= javascript_include_tag 'admin/reports/weekly_chart' %>
<% end %>

<h2> Weekly Charts </h2>

<h3> Sales </h3>
<div id="weekly-sales-graph" style="height: 250px;"></div>
<h3> Earnings </h3>
<div id="weekly-earnings-graph" style="height: 250px;"></div>
