<% content_for :head do -%>

<% end %>

<h1> Graphs </h1>

<ul>
  <li>
    <label>Name:</label>
  </li>
</ul>

<div>

</div>

<p>
  <%= link_to "View All", admin_reports_graphs_path, class: 'button' %>
</p>
