%h1
  New Address for #{@order.user.name}
= form_for(@address, :url => admin_history_order_addresses_path(@order)) do |f|
  = render :partial => '/admin/history/addresses/form', :locals => {:f => f }
= link_to 'Back', admin_history_order_path(@order)
