<div class='nine large-9 columns'>
  <h3>Orders</h3>

  <% unless @orders.length > 0 %>
    You currently do not have any orders.
  <% end %>

  <% @orders.each do |order| %>
    <div class='order-list-item ten'>
      <ul>
        <li><label>Number:</label>        <%= link_to order.number, myaccount_order_path(order) %></li>
        <li><label>Amount:</label>        <%= number_to_currency( order.first_invoice_amount ) %></li>
        <li><label>Status:</label>        <%= order.status %></li>
        <li><label>Completed at:</label>  <%= order.display_completed_at %></li>
      </ul>
    </div>
    <hr/>
  <% end %>
</div>
