<%= form_for(:shipping_method, @shopping_shipping_method) do |f| %>
  <% if @shopping_shipping_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_shipping_method.errors.count, "error") %> prohibited this shopping_shipping_method from being saved:</h2>

      <ul>
      <% @shopping_shipping_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
