<fieldset id="admin-product_type-names">
  <div class="six large-6 columns">
    <label>Name</label>
    <%= form.text_field :name %>
  </div>
  <div class="six large-6 columns">
    <label>Parent</label>
    <%= form.select :parent_id,
                      nested_set_options(ProductType, @product_type) {|i| "#{'-' * i.level} #{i.name}" },
                      { include_blank: true } %>
  </div>
</fieldset>
<div class=" generic_submit_button">
  <%= submit_tag button_action, class: "button", id: "create_product_type_button" %>
</div>
