<%= render partial: '/admin/merchandise/sub_header'%>

<h3>New Product Type</h3>

<p>
  Product Types are in a tree structure.  For example, If you create a shirt product-type, you should probably start by creating "clothes".  Then create a "shirt" product type who's parent is clothes. Depending on the store you could have a tee-shirt and tank-top product-type that has a parent of shirt.
</p>

<%= form_for @product_type, url: admin_merchandise_product_types_path do |form| %>
  <%= render partial: '/admin/merchandise/product_types/form', locals: { form: form, button_action: "Create"}%>
<% end %>
