
// HEADER DIVs includes search , cart button, wish button
@import "blueprint";

#header_wrapper {
  @include span(24);
  @include last;

  //background-image: image-url('logos/hadean_wide.png');
  // background-color: #57B;
  text-align:center;
  h1, h3, a {
    color: #EEE;
  }

}
.header-width {
  background-color: #555;
  height:35px;
  padding-top: 5px;
}
.header-subwidth {
  background-color: #CCCCCC;
  border-bottom:2px solid #444;
}

#header_bar {
  @include span(24);
  @include inline-block;
  // background-color: #57B;
  color: #FFFFFF;
  font-size:    large;
  @include last;
  @include bottom-rounded(9px);
  text-align:left;
  a {
    color: #EEEEEE;
  }
  a:hover {
    color: #FFFFFF;
  }
  .admin-login {
    float:right;
    color: #F6F6F6;
    padding-right:10px;
    font-size: 12px;
  }
}

#header_sub_bar {
  @include span(23);
  @include last;

  margin-left:  18px;
  // @include inline-block;
  background-color: #CCC;
  // @include rounded(9px);
  border-bottom:   solid 2px #777;
  text-align:center;
  a {
    color: #666;
  }
  a:hover {
    color: #333;
  }
}

#search_bar {
  @include span(18);
  @include float-left;
  @include inline-block;
  text-align: left;
}

#layout-search {
  margin-left:  5px;
  color:        #EEE;
  font-weight:  bolder;
  font-size:    large;
}

#cart_items_button {
  @include float-right;
  @include inline-block;
}
#wish_items_button {
  @include float-right;
  @include inline-block;
}
