$green-button-top-color:          #7ad690 !default;
$green-button-mid-top-color:      #3ec05c !default;
$green-button-mid-color:          #298a40 !default;
$green-button-mid-bottom-color:   #3ec05c !default;
$green-button-bottom-color:       #7ad690 !default;

$red-button-top-color:          #f35555 !default;
$red-button-mid-top-color:      #c34444 !default;
$red-button-mid-color:          #9f3333 !default;
$red-button-mid-bottom-color:   #c34444 !default;
$red-button-bottom-color:       #f35555 !default;

$gray_button_text          : #c6481a;