$green-button-top-color:          #7ad690 !default;
$green-button-mid-top-color:      #3ec05c !default;
$green-button-mid-color:          #298a40 !default;
$green-button-mid-bottom-color:   #3ec05c !default;
$green-button-bottom-color:       #7ad690 !default;

$red-button-top-color:          #f35555 !default;
$red-button-mid-top-color:      #c34444 !default;
$red-button-mid-color:          #9f3333 !default;
$red-button-mid-bottom-color:   #c34444 !default;
$red-button-bottom-color:       #f35555 !default;

.gradientbuttons ul{
  padding: 3px 0;
  margin-left: 0;
  margin-top: 1px;
  margin-bottom: 0;
  font: bold 13px Verdana;
  list-style-type: none;
  text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.gradientbuttons li{
  display: inline;
  margin: 0;
}

.gradientbuttons li a{
  cursor: pointer;
  text-decoration: none;
  padding: 3px 5px;
  margin-right: 5px;
  border: 1px solid #778;
  color: white;
  border:1px solid gray;
  background: #3282c2;
  border-radius: 8px; /*w3c border radius*/
  box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* w3c box shadow */
  -moz-border-radius: 6px; /* mozilla border radius */
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* mozilla box shadow */
  background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
  -webkit-border-radius: 6px; /* webkit border radius */
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* webkit box shadow */
  background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4)); /* webkit gradient background */
}

.gradientbuttons li a:hover{
  color: #d9d9d9;
}

.redtheme li a{
  font-size:12px;
  background: darkred;
  background: -moz-linear-gradient(center top, $red-button-top-color, $red-button-mid-top-color 25%, $red-button-mid-color 45%, $red-button-mid-bottom-color 85%, $red-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($red-button-top-color), color-stop(25%, $red-button-mid-top-color), color-stop(45%, $red-button-mid-color), color-stop(85%, $red-button-mid-bottom-color), to($red-button-bottom-color));
}

.greentheme li a{
  font-size:12px;
  background: green;
  background: -moz-linear-gradient(center top, $green-button-top-color, $green-button-mid-top-color 25%, $green-button-mid-color 45%, $green-button-mid-bottom-color 85%, $green-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($green-button-top-color), color-stop(25%, $green-button-mid-top-color), color-stop(45%, $green-button-mid-color), color-stop(85%, $green-button-mid-bottom-color), to($green-button-bottom-color));
}

.blacktheme li a{
  font-size:12px;
  background: black;
  background: -moz-linear-gradient(center top, #9f9f9f, #686868 25%, #2a2a2a 45%, #686868 85%, #9f9f9f);
  background: -webkit-gradient(linear, center top, center bottom, from(#9f9f9f), color-stop(25%, #686868), color-stop(45%, #2a2a2a), color-stop(85%, #686868), to(#9f9f9f));
}

.orangetheme li a{
  font-size:12px;
  background: #e55e3f;
  background: -moz-linear-gradient(center top, #ecad9a, #e5937c 25%, #cf4c2a 45%, #e5937c 85%, #ecad9a);
  background: -webkit-gradient(linear, center top, center bottom, from(#ecad9a), color-stop(25%, #e5937c), color-stop(45%, #cf4c2a), color-stop(85%, #e5937c), to(#ecad9a));
}


.small-gradientbuttons ul{
  padding: 3px 0;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  font:  12px Verdana;
  list-style-type: none;
  text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.small-gradientbuttons li{
  display: inline;
  margin: 0;
}

.small-gradientbuttons li a{
  cursor: pointer;
  text-decoration: none;
  padding: 2px 3px;
  margin-right: 4px;
  border: 1px solid #778;
  color: white;
  border:1px solid gray;
  background: #3282c2;
  border-radius: 8px; /*w3c border radius*/
  box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* w3c box shadow */
  -moz-border-radius: 6px; /* mozilla border radius */
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* mozilla box shadow */
  background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
  -webkit-border-radius: 6px; /* webkit border radius */
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* webkit box shadow */
  background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4)); /* webkit gradient background */
}

.small-gradientbuttons li a:hover{
  color: #d9d9d9;
}

.small-redtheme li a {
  font-size:11px;
  background: darkred;
  background: -moz-linear-gradient(center top, $red-button-top-color, $red-button-mid-top-color 25%, $red-button-mid-color 45%, $red-button-mid-bottom-color 85%, $red-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($red-button-top-color), color-stop(25%, $red-button-mid-top-color), color-stop(45%, $red-button-mid-color), color-stop(85%, $red-button-mid-bottom-color), to($red-button-bottom-color));
}