@import "colors";


.gradientbuttons ul{
  padding: 3px 0;
  margin-left: 0;
  margin-top: 1px;
  margin-bottom: 0;
  font: bold 13px Verdana;
  list-style-type: none;
  text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.gradientbuttons li{
  display: inline;
  margin: 0;
}

.gradientbuttons li a{
  cursor: pointer;
  text-decoration: none;
  padding: 3px 5px;
  margin-right: 5px;
  border: 1px solid #778;
  color: white;
  border:1px solid gray;
  background: #3282c2;
  border-radius: 8px; /*w3c border radius*/
  box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* w3c box shadow */
  -moz-border-radius: 6px; /* mozilla border radius */
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* mozilla box shadow */
  background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
  -webkit-border-radius: 6px; /* webkit border radius */
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5); /* webkit box shadow */
  background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4)); /* webkit gradient background */
}

.gradientbuttons li a:hover{
  color: #d9d9d9;
}

.redtheme li a{
  font-size:12px;
  background: darkred;
  background: -moz-linear-gradient(center top, $red-button-top-color, $red-button-mid-top-color 25%, $red-button-mid-color 45%, $red-button-mid-bottom-color 85%, $red-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($red-button-top-color), color-stop(25%, $red-button-mid-top-color), color-stop(45%, $red-button-mid-color), color-stop(85%, $red-button-mid-bottom-color), to($red-button-bottom-color));
}

.greentheme li a{
  font-size:12px;
  background: green;
  background: -moz-linear-gradient(center top, $green-button-top-color, $green-button-mid-top-color 25%, $green-button-mid-color 45%, $green-button-mid-bottom-color 85%, $green-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($green-button-top-color), color-stop(25%, $green-button-mid-top-color), color-stop(45%, $green-button-mid-color), color-stop(85%, $green-button-mid-bottom-color), to($green-button-bottom-color));
}

.blacktheme li a{
  font-size:12px;
  background: black;
  background: -moz-linear-gradient(center top, #9f9f9f, #686868 25%, #2a2a2a 45%, #686868 85%, #9f9f9f);
  background: -webkit-gradient(linear, center top, center bottom, from(#9f9f9f), color-stop(25%, #686868), color-stop(45%, #2a2a2a), color-stop(85%, #686868), to(#9f9f9f));
}

.orangetheme li a{
  font-size:12px;
  background: #e55e3f;
  background: -moz-linear-gradient(center top, #ecad9a, #e5937c 25%, #cf4c2a 45%, #e5937c 85%, #ecad9a);
  background: -webkit-gradient(linear, center top, center bottom, from(#ecad9a), color-stop(25%, #e5937c), color-stop(45%, #cf4c2a), color-stop(85%, #e5937c), to(#ecad9a));
}


.small-gradientbuttons ul{
  padding: 3px 0;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  font:  12px Verdana;
  list-style-type: none;
  text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.small-gradientbuttons li{
  display: inline;
  margin: 0;
}

.small-gradientbuttons li a{
  cursor: pointer;
  text-decoration: none;
  padding: 2px 3px;
  margin-right: 4px;
  border: 1px solid #778;
  color: white;
  border:1px solid gray;
  background: #3282c2;
  border-radius: 8px; /*w3c border radius*/
  box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* w3c box shadow */
  -moz-border-radius: 6px; /* mozilla border radius */
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* mozilla box shadow */
  background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
  -webkit-border-radius: 6px; /* webkit border radius */
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5); /* webkit box shadow */
  background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4)); /* webkit gradient background */
}

.small-gradientbuttons li a:hover{
  color: #d9d9d9;
}

.small-redtheme li a {
  font-size:11px;
  background: darkred;
  background: -moz-linear-gradient(center top, $red-button-top-color, $red-button-mid-top-color 25%, $red-button-mid-color 45%, $red-button-mid-bottom-color 85%, $red-button-bottom-color);
  background: -webkit-gradient(linear, center top, center bottom, from($red-button-top-color), color-stop(25%, $red-button-mid-top-color), color-stop(45%, $red-button-mid-color), color-stop(85%, $red-button-mid-bottom-color), to($red-button-bottom-color));
}
/* NEW BUTTONS */
/* button ---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

input {
  &[type=submit]   {
    &.button {
      border: 0;
      background-color: transparent;
      color: #eee;
      &.red-button {
        color: #FFF;
      }
      &.green-button {
        color: #FFF;
      }
      &.orange-button {color:#FFF;}
      &.dark-orange-button {color:#FFF;}
      &.small-dark-orange-button {color:#FFF;}
      &.silver-button {color:$gray_button_text;}
    }
  }
}

.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
/* DEFAULT BUTTON COLOR */
.button {
    color: #fef4e9;
    border: solid 1px #db3909;
    background: #c6481a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8581a), to(#c5441F));
    background: -moz-linear-gradient(top,  #c8581a,  #c5441F);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8581a', endColorstr='#c5441F');
}
.button:hover {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}
.button:active {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}

/* orange */
.orange-button {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f99a1a), to(#f47620));
    background: -moz-linear-gradient(top,  #f99a1a,  #f47620);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f99a1a', endColorstr='#f47620');
}
.orange-button:hover {
    background: #f58020;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange-button:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.dark-orange-button {
    color: #fef4e9;
    border: solid 1px #db3909;
    background: #c6481a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8581a), to(#c5441F));
    background: -moz-linear-gradient(top,  #c8581a,  #c5441F);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8581a', endColorstr='#c5441F');
}
.dark-orange-button:hover {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}
.dark-orange-button:active {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c75114), to(#c23415));
    background: -moz-linear-gradient(top,  #c75114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c75114', endColorstr='#c23415');
}

.small-dark-orange-button {
    //font-family:'Century Schoolbook Italic', 'Century Schoolbook', Georgia;
    font-family:Arial, Helvetica, sans-serif;
    color: #fef4e9 !important;
    border: solid 1px #db3909;
    background: #c6481a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9681a), to(#c6451F));
    background: -moz-linear-gradient(top,  #c9681a,  #c6451F);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9681a', endColorstr='#c6451F');
    font-size: 14px;
    font-weight: normal;
    padding: 0.2em 0.7em;
    &.myriad {
      font-family: "MyriadPro","Lucida Sans Unicode", "Lucida Grande", sans-serif;
      padding: 0.7em;
      padding-top: 0.3em;
      padding-bottom: 0.1em;
    }
}
.small-dark-orange-button:hover {
    color: #fff7ef;
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c65114), to(#c23415));
    background: -moz-linear-gradient(top,  #c65114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c65114', endColorstr='#c23415');
}
.small-dark-orange-button:active {
    background: #c4421F;
    background: -webkit-gradient(linear, left top, left bottom, from(#c65114), to(#c23415));
    background: -moz-linear-gradient(top,  #c65114,  #c23415);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c65114', endColorstr='#c23415');
}
