@import "app_mixins";
.order-list-item {
  label {
    display:inline-block;
    width:100px;
  }
}

h2 {
  font-family: minion-pro-1, minion-pro-2, HighTower, Georgia, serif;
}
#content_wrapper {
  text-align:left;
}
#myaccount-header-menu {

  ul {
    display:inline-block;

    li {
      margin-left:3px;
      padding:3px;
      padding-right:6px;
      border:3px solid #F6F6F6;
      display: inline-block;
      font-size:110%;
      @include rounded(4px);

      &:hover {
        border:3px solid #EBEBEB;
      }

      &.selected {
        border:3px solid #DDE1E4;
      }
    }
  }
}
label.bigger {
  font-size:1.4em;
}
.order-items-details {
  h4 {
    color:#678197;
    font-size:1.3em;
    font-weight:bold;
  }
}

ul#profile_details {
  text-align:left;
  label {
    display:inline-block;
    width:100px;
  }
}