@import "site/app_mixins";

body {
  background:#F4F4F4;
}

#register-wrapper, #login-wrapper {
  padding-top:26px;
}

div #login {
  margin-right: 20px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 3px solid #E6E6E6;
}
div #signup, div #login {
  text-align:left;
  padding: 17px;
  display: inline;
  float: left;
  width: 280px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

  fieldset {
    border: none;
    padding:0px;
  }
  ol, ul {
    padding: 0;
  }
  p {
    color:#999999;
    font-size:13px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

ol {list-style-type: none;margin-left:0px;}

label {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

input.text, input.title, input[type="text"], input[type="password"], input[type="email"] {
  @include rounded(4px);
  @include gradient();
  margin: 0.15em 0;
  border: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 6px 5px;
}