.items-wrapper {
  font-size:135%;
  font-weight:bold;
  color:#3A3A3A;
  a {
    color:#3A3A8A;
  }
  li {
    a.button.alert, a.button.success {color:#F6F6F6;}
  }
}
.tiny {
  font-size:11px;
}

th, td, caption {
  vertical-align:top;
}
ul {list-style-type: none;}

#update-cart-wrapper div {
  display:inline;
}

#update-cart-wrapper span {
  display:inline;
  float:left;
  text-align:right;
}