<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="first active"><%= link_to t("web-app-theme.list", :default => "List"), admin_users_path %></li>
    <li><%= link_to t("web-app-theme.new", :default => "New"), new_admin_user_path %></li>
  </ul>
</div>
