<div class="block">
  <%= render "edit_navigation" %>

  <div class="content">
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit")%> User</h2>
    <div class="inner">
      <%= render "form" %>
    </div>
  </div>
</div>
