<div class="block">
  <%= render "index_navigation" %>

  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Users</h2>
    <div class="inner">
      <% if @users.any? %>
        <%= render "collection_table" %>
      <% end %>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
