<div class="block">
  <%= render "new_navigation" %>

  <div class="content">
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%> User</h2>
    <div class="inner">
      <%= render "form" %>
    </div>
  </div>
</div>
