<h3>New User</h3>

<%= form_for @user, :url => admin_users_path(@user)  do |form| %>
  <%= render partial: '/admin/users/form', locals: { form: form } %>
  <%= form.submit "Create", class: 'button' %>
<% end %>
