- if @shipping_category.errors.any?
  #error_explanation
    %h2
      = pluralize(@shipping_category.errors.count, "error")
      prohibited this admin_config_shipping_category from being saved:
    %ul
      - @shipping_category.errors.full_messages.each do |msg|
        %li= msg
%label Name
= f.text_field :name
= f.submit "Create Shipping Category", :class => "button"
