<div class="admin_title_header">
  <h3>Tax Categories</h3>
  <%= link_to 'New Tax Category', new_admin_config_tax_category_path, :class => "button" %>
</div>

<div class="admin_tax_categories">
  <table>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
      <th></th>
    </tr>
    </thead>

  <% @tax_categories.each do |tax_category| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= link_to tax_category.name, edit_admin_config_tax_category_path(tax_category) %></td>
      <td><%= link_to "Delete", admin_config_tax_category_path(tax_category), :data => { :confirm => 'Text' }, :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>