<h3>New Tax Category</h3>

<%= form_for(@tax_category, :url => admin_config_tax_categories_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit t("button_create"), :class => "button" %>
  <%= link_to t("button_back"), admin_config_tax_categories_path, :class => "secondary button" %>
<% end %>
