<h1>Edit Billing Address</h1>

<%= form_for(@form_address, url: shopping_billing_address_path(@form_address), html: {class: 'custom'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to 'Back', shopping_billing_addresses_path %>
