<!-- <div class="header-width">
  <div class="bp container">
    <div id='header_bar' class='float-left span-24'>
      <%= render :partial => '/shared/admin/header_buttons'  %>
      <div class="admin-login">
        <span><%= current_user.name %></span><br/>
        <%= link_to 'Logout', logout_path, :id => 'admin-logout-button' %>
      </div>
    </div>
  </div>
</div>
 -->



<ul class="nav-bar">
	<%= render :partial => "/shared/admin/header_buttons" %>
<!--   <li class="has-flyout">
    <a href="#">Nav Item 2</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><a href="#">Sub Nav 1</a></li>
      <li><a href="#">Sub Nav 2</a></li>
      <li><a href="#">Sub Nav 3</a></li>
    </ul>
  </li> -->
</ul>
