<div class="header-width">
  <div class="bp container">
    <div id='header_bar' class='float-left span-24'>
      <%= render :partial => '/shared/admin/header_buttons'  %>
      <div class="admin-login">
        <span><%= current_user.name %></span><br/>
        <%= link_to 'Logout', logout_path, :id => 'admin-logout-button' %>
      </div>
      <div id="lang-bar">
        <% GlobalConstants::LANGUAGES.each do |lang| %>
          <%= link_to lang, :locale => lang.to_sym %>
        <% end %>
      </div>
    </div>
  </div>
</div>
