<% @all_properties.each do |property| %>
  <div id='property_<%= property.id %>' class="form-group">
    <% checked_property = @product.name && @product.properties.select {|p| p.id == property.id } %>
    <div class="form-check">
      <%= check_box_tag "product[property_ids][]", property.id, checked_property ? 1 : 0 %>
      <label class="form-label"><%= property.display_name %>:</label>
    </div>
    <%= text_field_tag "property[name]", checked_property.try(:description), class: "form-control" %>
  </div>
<% end %>
