- @all_shipping_rates.each do |rate|
  .property_form.left.span-9.last{:id => "rate_#{rate.id}"}
    - checked_rate = @product.shipping_categories.detect {|c| c.shipping_rate_id == rate.id }
    .span-8
      = check_box_tag "product[shipping_rate_ids][]", rate.id, checked_rate ? true : false
      = rate.name
