
<%= render :partial => '/admin/merchandise/sub_header'%>

<h2>New Product</h2>


  <div id="article-sidebar" class="sidebar">
    <%= form_for @product, :url  => admin_merchandise_products_path,
                            :html => {:class => ''}  do |form| %>
      <%#= render :partial => '/admin/merchandise/products/form', :locals => {:form => form}%>
      <%= render :partial => 'form', :locals => {:form => form } %>
      <div class=" generic_submit_button">
        <%= submit_tag "Create",
                        :class  => "button",
                        :id     => "create_product_button" %>
      </div>
    <% end %>
  </div>
