.admin_title_header
  %h3 Shipping Zones
  = link_to 'New Shipping Zone', new_admin_config_shipping_zone_path, :class => 'button'
  </div
  .admin_shipping_zones
    %table
      %thead
        %tr.odd
          %th.column1_header Name
          %th
      - @shipping_zones.each do |shipping_zone|
        %tr{:class => cycle("odd", "")}
          %td= link_to shipping_zone.name, edit_admin_config_shipping_zone_path(shipping_zone)
          %td= link_to "Edit", edit_admin_config_shipping_zone_path(shipping_zone)
