<div class="admin_title_header">
  <h3>Shipping Zones</h3>
  <%= link_to 'New Shipping Zone', new_admin_config_shipping_zone_path, class: 'button' %>
</div

<div class="admin_shipping_zones">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
      <th></th>
    </tr>
    </thead>

  <% @shipping_zones.each do |shipping_zone| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= link_to shipping_zone.name, edit_admin_config_shipping_zone_path(shipping_zone) %></td>
      <td><%= link_to "Edit", edit_admin_config_shipping_zone_path(shipping_zone) %></td>
    </tr>
  <% end %>
  </table>
</div>
