<div class="py-10 max-w-md mx-auto">
  <h1 class="text-3xl font-normal mb-6" style="font-family: var(--font-display)"><%= site_name %> Password Reset</h1>

  <%= form_for(@user, url: customer_password_reset_path(id: @user.perishable_token)) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
