
<div class='bottom20 seven large-7 columns'>
  <h1> <%= site_name %> Password Reset </h1>

  <%= form_for(@user, url: customer_password_reset_path(id: @user.perishable_token)) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
