
<div class=' large-9 columns'>
  <h3> Edit Profile </h3>

  <%= form_for current_user, :url => myaccount_overview_path, :method => 'PUT' do |f| %>
    <%=  render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
