<h1 style='text-align:left;'> My Account </h1>
<div class='span-18 column' style='width:708px;'>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Orders </h3>
    <%= link_to 'View My Orders', myaccount_orders_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Credit Cards </h3>
    <%= link_to 'View My Credit Cards', myaccount_credit_cards_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Addresses </h3>
    <%= link_to 'View My Addresses', myaccount_addresses_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Store Credits </h3>
    <%= link_to 'View My Store Credits', myaccount_store_credit_path %>
  </div>
</div>
<div class='span-6 last ar-widget'>
  Add Something here.

</div>
