<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :title %>
    </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
