<div class=' large-9 columns'>
  <h3> Store Credits </h3>

  <p id='users-credits' class=''>
    You currently have <strong><%= number_to_currency @store_credit.amount %></strong> worth of credits.
  </p>
</div>
